<div class="col-md-1 col-lg-1 col-sm-1"></div>
<div class="col-md-10 col-lg-10 col-sm-10">
    <div class="widget wcyan" title="">
        <div data-cc-widget-header title="{{title1}}"
             allow-collapse="true"></div>

        <div class="widget-content right-partial-view fluid-container">
            <form novalidate name="newJobForm1" class="form-horizontal">
                <fieldset>
               

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-8 control-label" for="textinput">Job title</label>
                        <div class="col-md-8">
                            <input ng-model="job.title" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="">
                        </div>
                    </div>


                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-8 control-label" for="selectbasic">Who provides the material?</label>
                        <div class="col-md-8">
                            <select ng-model="job.materialProvider" id="selectbasic" name="selectbasic" class="form-control">
                                <option ng-selected="selected" value="Customer">Customer</option>
                                <option value="Craftsman">Craftsman</option>
                            </select>
                        </div>
                    </div>

                    <!-- Appended Input-->
                    <div class="form-group">
                        <label class="col-md-8 control-label" for="appendedtext">Desired budget:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input ng-model="job.budget" id="appendedtext" name="appendedtext" class="form-control" placeholder="" type="text" required="">
                                <span class="input-group-addon">RSD</span>
                            </div>

                        </div>
                    </div>
                    
                    <!-- Text input-->
                    <div class="form-group" ng-class="{'has-success':newJobForm1.city.$valid, 'has-error' : newJobForm1.city.$invalid && !newJobForm1.city.$pristine}">
                        <label class="col-md-8 control-label" for="textinput">ZIP/City</label>
                        <div class="col-md-8">
                            <input type="text" ng-model="job.address.city.name" placeholder="" name="city" typeahead="address.name for address in getCities($viewValue) | filter:$viewValue | limitTo:8" typeahead-loading="true" class="form-control input-md" ng-required="true"><br>
                            <p ng-show="newJobForm1.city.$invalid !== newJobForm1.city.$pristine" class="help-block">City is required</p>
                        </div>
                    </div>
                    
                    <!-- Text input-->
                    <div class="form-group" ng-class="{'has-success':newJobForm1.address.$valid, 'has-error' : newJobForm1.address.$invalid && !newJobForm1.address.$pristine}">
                        <label class="col-md-8 control-label" for="textinput">Address</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input ng-model="job.address.line1" id="textinput" name="address" type="text" placeholder="" class="form-control" ng-required="true">
                                <span ng-disabled="newJobForm1.city.$invalid"class="input-group-addon" ng-click="showMap()" style="cursor: pointer;"><i class="fa fa-globe"></i>Show map</span>
                            </div>
                        </div><br>
                        <p ng-show="newJobForm1.address.$invalid !== newJobForm1.address.$pristine" class="help-block">Address is required</p><br>
                        <p ng-show="newJobForm1.address.$pristine" class="help-block">Note that your job will be listed in the map overview only if the address is valid! Click on the "Show map" button to fetch google map coordin</p>
                    </div>
                   
                    <div id="gmaps-div" style="height:250px; display: none" class="peach-div row">
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-8 control-label" for="category">Category</label>
                        <div class="col-md-8">
                            <select id="category" name="category" class="form-control" ng-model="job.category"
                            ng-options="cat for cat in categories" ng-change="categoryChanged()">
                            </select>
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-8 control-label" for="subcategory">Subcategory</label>
                        <div class="col-md-8">
                            <select id="subcategory" name="subcategory" class="form-control" ng-model="job.subcategory"
                            ng-options="subcat for subcat in subcategories">
                            </select>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-8 control-label" for="textinput">From</label>
                        <div class="col-md-8">
                            <input id="datefrom" name="textinput" type="date" ng-model="job.dateFrom" placeholder="" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-8 control-label" for="textinput">To</label>
                        <div class="col-md-8">
                            <input id="dateto" ng-model="job.dateTo" name="textinput" type="date" placeholder="" class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-8 control-label" for="textarea">Job description</label>
                        <div class="col-md-8">
                            <textarea ng-model="job.description" class="form-control" id="textarea" name="textarea"></textarea>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <div class="text-center">
                            <button id="register-submit" name="register-submit" ng-disabled="newJobForm1.$invalid" class="btn btn-black" ng-click="nextStep()"><i class="fa fa-arrow-right"></i> Next</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="col-md-1 col-lg-1 col-sm-1"></div>

