<h1> JOB MESSAGES </h1>

<div class="widget wcyan">
  <div class="row">
    
      <div class="widget wcyan">
        <div data-cc-widget-header title="All job messages"
        allow-collapse="true"></div>
        <div class="widget-content text-center text-info widget-ul-list">
          <ul style="list-style: none;" >
            <li class="my-offer" id="{{$index}}" data-ng-repeat="p in itemsPaged" ng-click="showMessage($index);">
              <div style="min-width:auto;
                      min-height:120px; height:auto;" class="row container">
                <div class="col-md-4">
                  <img style="float:left" src="/img/pokit_3416a75f4cea9109507cacd8e2f2aefc.jpg">
                </div>
                <div class="col-md-8">
                  <div class="row jobDetail text-left">
                    <div class="col-md-3">
                      <span class="my-message-detail text-left">Sender: </span>
                    </div>
                    <div class="col-md-9">
                      <span>{{p.author.username}}bla{{$index}}</span></div>
                  </div>
                  <div class="row jobDetail text-left">
                    <div class="col-md-3">
                        <span class="my-message-detail text-left">Subject: </span>
                    </div>
                    <div class="col-md-9">
                      <span>{{p.subject}}</span></div>
                  </div>
                  <div class="row jobDetail text-left ">
                    <div class="col-md-3">
                      <span class="my-message-detail text-left">Content: </span>
                    </div>
                    <div class="col-md-9 minified-message">
                      <span>{{p.message.slice(0,19)}}</span><span ng-show="p.message.length>20">...</span>
                    </div>
                    <div class="col-md-9 expanded-message">
                      <span>
                        
                      </span>
                    </div>
                  </div>
                  <div class="row jobDetail text-left">
                    <div class="col-md-3">
                      <span class="my-message-detail text-left">Date sent: </span>
                    </div>
                    <div class="col-md-9">
                      <span cr-date="{{p.dateSent}}"></span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="clearfix"></div>
        <pagination class="pagination-sm" boundary-links="true" max-size="3" items-per-page="sizePerPage" on-select-page="pageSelected" page="currentPage" total-items="totalItems" rotate="false"></pagination>
        <div class="clearfix"></div>
      </div>
    
  </div>
</div>