<section class="mainbar" data-ng-controller="messages">
    <section class="matter">
        <div class="container">
            <div class="row">
                <input class="input-medium search-query"
                       data-ng-model="contact"
                       data-ng-keyup="search($event)"
                       placeholder="live search...">
                <div class="widget wcyan">
                    <div class="widget-head">

                        <button type="button" class="btn btn-secondary btn-lg" ng-click="showInbox()">
                            <i class="fa fa-arrow-circle-down"></i> Inbox
                        </button>
                        <button type="button" class="btn btn-secondary btn-lg" ng-click="showOutbox()">
                            <i class="fa fa-arrow-circle-up"></i> Outbox
                        </button>

                    </div>
                    <div class="underConstruction" style="width:100%;">
                    </div>
                   <div class="col-md-12" ng-include="leftPartial">
                   <div class="col-md-6" ng-include="rightPartial">
                </div>
            </div>
        </div>
    </section>
</section>
