<div class="widget wcyan" >
    <div data-cc-widget-header title="Craftsman details"
         allow-collapse="true"></div>
    <div class="widget-content right-partial-view fluid-container">
        <div>
            <form class="form-horizontal">
                <fieldset>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-8 control-label" for="">Name</label>
                        <div class="col-md-8">
                            <input ng-disabled="!ViewJob.editable" ng-model="currentCraftsman.name"
                             type="text" placeholder="" class="form-control input-md" required="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-8 control-label" for="">Surname</label>
                        <div class="col-md-8">
                            <input ng-disabled="!ViewJob.editable" ng-model="currentCraftsman.surname"
                             type="text" placeholder="" class="form-control input-md" required="">
                        </div>
                    </div>     
                </fieldset>
            </form>
        </div>
    </div>
</div>

