<section class="mainbar" data-ng-controller="Craftsmen">
    <section class="matter">
        <div class="container">
            <div class="row">
                <input class="input-medium search-query"
                       data-ng-model="craftsmanSearch"
                       data-ng-keyup="search($event)"
                       placeholder="live search...">
                <div class="widget wcyan">
                    <div data-cc-widget-header title="{{title}}"></div>
                    <div class="widget-content user">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="widget wcyan">
                                    <div data-cc-widget-header title="Craftsmen table"
                                         allow-collapse="true"
                                         subtitle="{{pagedItems.length}} / {{totalItems}}"
                                         right-text="Page {{currentPage}} of {{items.length}}">
                                    </div>
                                    <div class="widget-content text-center text-info">

                                        <!-- <table class="table table-condensed table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>E-mail</th>
                                                    <th>Username</th>
                                                    <th>Name</th>
                                                    <th>Surname</th>
                                                    <th>Rating</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr id="{{$index}}" data-ng-repeat="p in pagedItems" ng-click="CraftsmanList.showCraftsman($index)">
                                                    <td class="text-left">{{p.email}}</td>
                                                    <td class="text-left">{{p.username}}</td>
                                                    <td class="text-left">{{p.name}}</td>
                                                    <td class="text-left">{{p.surname}}</td>
                                                    <td class="text-left">{{p.rating.avgRate}}</td>
                                                </tr>
                                            </tbody>
                                        </table> -->
                                    
                                         <ul style="list-style: none;" >
                                            <li class="my-job" id="{{$index}}" data-ng-repeat="p in pagedItems" ng-click="CraftsmanList.showCraftsman($index)">
                                                <div class="row-container jobDetail">
                                                    <img class="pull-left" src="/img/pokit_3416a75f4cea9109507cacd8e2f2aefc.jpg">
                                                    
                                                    <div class="jobDetail text-left">
                                                        <span class="my-job-detail text-left">Email:</span>
                                                        <span>{{p.email}}</span>
                                                    </div>
                                                    <div class="jobDetail text-left">
                                                        <span class="my-job-detail text-left">Username:</span>
                                                        <span>{{p.username}}</span>
                                                    </div>
                                                    <div class="jobDetail text-left">
                                                        <span class="my-job-detail text-left">Name:</span>
                                                        <span>{{p.name}}</span>
                                                    </div>
                                                    <div class="jobDetail text-left">
                                                        <span class="my-job-detail text-left">Surname: </span>
                                                        <span>{{p.surname}}</span>
                                                    </div>

                                                    <div class="jobDetail text-left">
                                                        <span class="my-job-detail text-left">Rating: </span>
                                                        <span>
                                                            <rating readonly="true" value="p.rating.avgRate"></rating>
                                                        </span>
                                                    </div>

                                                    <div class="jobDetail text-left" style="display: inline-block;">
                                                        <a title="Contact craftsman" href="/#/messages">
                                                            <span class="custom-icon">
                                                                <i class="fa fa-3x fa-envelope-o"></i>
                                                                
                                                            </span>
                                                        <a/>
                                                    </div>                                    
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="widget-foot">
                                        <div class="clearfix"></div>

                                        <pagination class="pagination-sm" boundary-links="true" max-size="3" items-per-page="sizePerPage" on-select-page="pageSelected" page="currentPage" rotate="false"></pagination>


                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" ng-include="rightPartial">
                            </div>
                        </div>

                    </div>
                     
                </div>
            </div>
        </div>
    </section>
</section>
