<div>
    <div data-ng-include="'/shared/templates/layout/topnav.html'">
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-1">
        </div>
        <div data-ng-show="isBusy" class=" page-splash dissolve-animation">
            <div data-cc-spinner="spinnerOptions">
            </div>
            <div class="page-splash-message page-splash-message-subtle">{{busyMessage}}
            </div>
        </div>
        <div class="col-md-10 col-sm-10 ui-view-container"></div>
        <span data-cc-scroll-to-top></span>
        <div class="col-md-1 col-sm-1">
        </div>
    </div>
    <div data-ng-include="'/shared/templates/layout/footer.html'">
    </div>
</div>
