<nav class="navbar navbar-fixed-top navbar-inverse" data-ng-controller="topnav as vm">

    <div class="navbar-header navbar-toggle">
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-click="isToggled=!isToggled">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>

    <div class="navbar-collapse collapse">
        <div class="">
            <div class="row">
                
                <div class="col-md-1">
                </div>

                <div class="col-md-10">
                    <div class="craftia-logo pull-left" ng-if="!isToggled"><a href="/">
                        <img src="img/logo3.png"/></a>
                        <p>Craftsmen portal!</p>
                    </div>

                    <div class="container top-hmenu">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            <div data-ng-show="vm.isVisible(menu);" class="top-hmenu-item-wrapper" ng-repeat="menu in vm.menu"  crReveal>
                                <a href="#{{menu.url}}"  data-ng-bind-html="menu.config.settings.content"></a>
                                <div ng-class="vm.whichClass(menu)">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>

                    <a cr-not-auth href="/#/login"> 
                        <div class="craftia-nav-envelope pull-right">
                          <div class="rect"></div>
                          <div class="leftbtr"></div>
                          <div class="rightbtr"></div>
                          <span class="login-text">LOGIN</span>
                      </div>
                    </a>

                  <div class="craftia-nav pull-right" cr-auth>
                    <div class="craftia-nav-envelope">
                        <div class="rect"></div>
                        <div class="leftbtr"></div>
                        <div class="rightbtr"></div>
                        <span class="userland-profile-btn">
                            <i class="glyphicon glyphicon-user userland-icon"></i>
                            <span class="userland-name">{{user.username}}</span>
                                <span class="userland-mail-btn">
                                <i class="glyphicon glyphicon-envelope userland-mail-icon"></i>
                                <span class="userland-mail-count">5 new messages</span>
                            </span>
                        </span>
                    </div>

                    <ul class="nav navbar-nav userland-menu">
<!--                         <ul class="nav navbar-nav inner-menu">
                            <li ng-show="isAjaxHappening">
                                <i style="font-size: 3.4em" class="glyphicon glyphicon-refresh"></i>
                            </li>
                            <li cr-auth>
                                <a class="logout" href="#" ng-click="vm.logout()">
                                    Log out
                                </a>
                            </li>

                            <li cr-not-auth>
                                <a href="/#/login">
                                    Login
                                </a>
                            </li>

                            <li cr-not-auth>
                                <a href="/#/register">
                                    Register
                                </a>
                            </li> -->
                        </ul>

                    <div ng-if="isToggled" class="col-md-8">
                        <img style="max-width:100%; max-height:100%" src="img/logo3.png"/>
                    </div>

                    <div ng-if="isToggled" class="col-md-4 pull-right navbar-logo">
                        <ul class="nav navbar-nav pull-right">
                            <li ng-show="isAjaxHappening">
                                <i style="font-size: 3.4em" class="glyphicon glyphicon-refresh"></i>
                            </li>

                            <li cr-auth>
                                <a href="#" ng-click="vm.logout()">
                                    Log22 oust
                                </a>
                            </li>

                            <li cr-not-auth>
                                <a href="/#/login">
                                    Login
                                </a>
                            </li>

                            <li cr-not-auth>
                                <a href="/#/register">
                                    Register
                                </a>
                            </li>
                        </ul>

                    </div>
                    </ul>
                </div>
            </div>
            <div class="col-md-1">

            </div>
        </div>

        <div class="row top-menu">

            <div class="col-md-1">
            </div>
            <div class="col-md-10 ">
                <ul class="top-header menu-item">

                    <span class="druid-font-bbi-l">
                         Find the best craftsman for your needs. 
                    </span>

                    <span class="druid-font-wbi-l">
                        Register now for free!
                    </span>

<!--                     <li class="bcyan menu-item">
                        <div class="pull-left"><i class="fa fa-envelope"></i></div>
                        <div class="datas-text pull-right">
                            <span class="bold">{{vm.messageCount}}</span> Messages
                        </div>
                    </li>
                    <li class="bcyan menu-item">
                        <div class="pull-left"><i class="fa fa-list"></i></div>
                        <div class="datas-text pull-right bold">
                            See your bids
                        </div>
                    </li> -->
                </ul>
            </div>

            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>
</nav>


<!-- 
<div ng-if="isToggled" class="col-md-8">
<img style="max-width:100%; max-height:100%" src="img/logo3.png"/>
</div>

<div ng-if="isToggled" class="col-md-4 pull-right navbar-logo">
<ul class="nav navbar-nav pull-right">
<li ng-show="isAjaxHappening">
<i style="font-size: 3.4em" class="glyphicon glyphicon-refresh"></i>
</li>
<li cr-auth>
<a href="#" ng-click="vm.logout()">
Log out
</a>
</li>

<li cr-not-auth>
<a href="/#/login">
Login
</a>
</li>
<li cr-not-auth>
<a href="/#/register">
Register
</a>
</li>
</ul>
</div> -->
