<div class="row yellow-div top-menu">
    <div class="col-md-1">
    </div>
    <div class="col-md-10 submenu">
        <div ng-hide="isCurrent(vm.dashMenu[2]) || isCurrent(vm.dashSubMenu[0]) || isCurrent(vm.dashSubMenu[1]) || isCurrent(vm.dashSubMenu[2]) || isCurrent(vm.dashSubMenu[3])" class="top-header menu-item">
            <span class="zine-reg-ital top-black-ital big-span">
                Find the best craftsman for your needs. 
            </span>
            <a href="/#/register">
                <span class="zine-reg-ital top-white-ital big-span">
                  Register now for free! 
              </span>
            </a>
      </div>
      <div ng-show="isCurrent(vm.dashMenu[2]) || isCurrent(vm.dashSubMenu[0]) || isCurrent(vm.dashSubMenu[1]) || isCurrent(vm.dashSubMenu[2]) || isCurrent(vm.dashSubMenu[3])" class="row top-menu">
        
        <div class="col-md-3">
            <div  class="top-hmenu-item-wrapper" ng-class="vm.whichSubClass(vm.dashSubMenu[0])"> 

                <div class="rect"></div>
                <div class="leftupbtr"></div>
                <div class="rightupbtr"></div>

                <a href="/#{{vm.dashSubMenu[0].url}}"  data-ng-bind-html="vm.dashSubMenu[0].config.settings.content"></a>
            </div>
        </div>    
      
   
        <div class="col-md-3">
            <div  class="top-hmenu-item-wrapper" ng-class="vm.whichSubClass(vm.dashSubMenu[1])">

                <div class="rect"></div>
                <div class="leftupbtr"></div>
                <div class="rightupbtr"></div>

                <a href="/#{{vm.dashSubMenu[1].url}}"  data-ng-bind-html="vm.dashSubMenu[1].config.settings.content"></a>
            </div>
        </div>    
     
    
        <div class="col-md-3">
            <div  class="top-hmenu-item-wrapper" ng-class="vm.whichSubClass(vm.dashSubMenu[2])"> 

                <div class="rect"></div>
                <div class="leftupbtr"></div>
                <div class="rightupbtr"></div>

                <a href="/#{{vm.dashSubMenu[2].url}}"  data-ng-bind-html="vm.dashSubMenu[2].config.settings.content"></a>
            </div>
        </div> 
   
        <div class="col-md-3">

            <div  class="top-hmenu-item-wrapper" ng-class="vm.whichSubClass(vm.dashSubMenu[3])"> 

                <div class="rect"></div>
                <div class="leftupbtr"></div>
                <div class="rightupbtr"></div>

                <a href="/#{{vm.dashSubMenu[3].url}}"  data-ng-bind-html="vm.dashSubMenu[3].config.settings.content"></a>
            </div>
        </div>    
    </div>    
</div>
<div class="col-md-1">
</div>
</div>
<div data-ng-include="'/app/jobs/findJobsTopNav.html'" ng-show="isCurrent(vm.dashSubMenu[2])">
</div>