<nav class="navbar navbar-default" role="navigation" data-ng-controller="topnav as vm">

    <div class="navbar-header yellow-div">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1 ">
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10 row">
                <div class="col-sm-6 col-md-6 col-xs-6">
                    <div class="row col-sm-12">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                           
                            
                               <a href="/">
                                <img class="craftia-logo " src="img/logo3.png"/>
                                </a>
                                <br>
                                <a href="/">
                                    <span class="black-span logo-span vegur-regular sub-logo">Craftsmen portal!
                                    </span>
                                </a>
                          
                            
                        </div>
                    </div>
                </div>
                <div data-ng-include="'app/layout/userBar.html'" class="col-md-6 col-sm-6 col-xs-6">
                        
                </div>

                <br>

                <div class="row col-sm-12 col-xs-12 col-md-12">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div  class="top-hmenu-item-wrapper pull-right"  crReveal>
                            <a href="/#{{vm.dashMenu[0].url}}"  data-ng-bind-html="vm.dashMenu[0].config.settings.content"></a>
                            <div ng-class="vm.whichClass(vm.dashMenu[0])">
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div  class="top-hmenu-item-wrapper pull-right"  crReveal>
                            <a href="/#{{vm.dashMenu[1].url}}"  data-ng-bind-html="vm.dashMenu[1].config.settings.content">
                            </a>
                            <div ng-class="vm.whichClass(vm.dashMenu[1])">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div  class="top-hmenu-item-wrapper pull-right"  crReveal>
                            <a href="/#{{vm.dashMenu[2].url}}"  data-ng-bind-html="vm.dashMenu[2].config.settings.content">
                            </a>
                            <div ng-class="vm.whichClass(vm.dashMenu[2])">
                            </div>
                        </div>
                    </div>
                </div> 
            </div> 
            <div class="yellow-div col-md-1 col-sm-1 col-xs-1">
            </div>     
        </div>
    </div>
    <div class="row  yellow-div">
        <div class="col-md-1 col-sm-1 col-xs-1">
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10" data-ng-include="'app/layout/topnavSubMenu.html'">
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
        </div>
    </div>
</nav>


