<nav class="navbar navbar-default" role="navigation" data-ng-controller="topnav as vm">




    <div class="navbar-header yellow-div">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10 row">
                <div class="col-sm-6 col-md-12 col-xs-6">
                    <div class="row col-sm-12">
                        <div class="col-md-3 row">
                            <div class="col-sm-3 col-xs-3">
                            </div>
                            <div class="col-sm-6 col-xs-6 col-md-12">
                                   <a href="/">
                                    <img class="craftia-logo " src="img/logo3.png"/>
                                </a>
                                <br>
                                <a href="/">
                                    <span class="black-span logo-span vegur-regular sub-logo">Craftsmen portal!
                                    </span>
                                </a>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                        
                        <div class="row col-md-3 col-sm-12 envelope-container">
                            <div class="col-sm-3 col-xs-3">
                            </div>
                            <div class="row col-sm-6 col-md-12">
                                <div class="col-sm-1 col-xs-1">
                                </div>
                                <div class="craftia-nav-envelope col-sm-10 col-xs-10"  cr-auth>
                                    <div class="rect"></div>
                                    <div class="leftbtr"></div>
                                    <div class="rightbtr"></div>
                                    <div class="userland-profile-btn">
                                        <i class="glyphicon glyphicon-user userland-icon" ng-click="vm.viewProfile()"></i>
                                        <span class="userland-name">{{user.username}}</span>
                                        <br>
                                        <div class="row userland-mail-btn">
                                            <a  href="/#/messages"> 
                                                <i class="glyphicon glyphicon-envelope userland-mail-icon"></i>
                                                <span class="userland-mail-count1">
                                                    5 new
                                                </span>
                                                <span class="userland-mail-count2">
                                                    messages
                                                </span>
                                                <br>
                                            </a>   
                                            <span class="logout-icon" ng-click="vm.logout()">
                                                <i class="glyphicon glyphicon-log-out"></i>
                                            </span> 
                                            <span class="logout-span" ng-click="vm.logout()">
                                                Log out
                                            </span>   
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1 col-xs-1">
                                </div>
                            </div>    
                            <div class="col-sm-3 col-xs-3">
                            </div>
                            
                            <div cr-not-auth class="craftia-nav-envelope">
                                <div class="rect"></div>
                                <div class="leftbtr"></div>
                                <div class="rightbtr"></div>
                                <a  href="/#/login"> 
                                    <span class="login-text yellow-span medium-span">LOGIN</span>
                                </a>    
                            </div>

                        </div>
                    </div>
                </div>

                <br>

                <div class="row col-sm-6 col-xs-6 col-md-12">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3" >
                        <div  class="top-hmenu-item-wrapper text-center"  crReveal>
                            <a href="/#{{vm.dashMenu[0].url}}"  data-ng-bind-html="vm.dashMenu[0].config.settings.content"></a>
                            <div ng-class="vm.whichClass(vm.dashMenu[0])">
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="col-md-3">
                        <div  class="top-hmenu-item-wrapper text-center"  crReveal>
                            <a href="/#{{vm.dashMenu[1].url}}"  data-ng-bind-html="vm.dashMenu[1].config.settings.content">
                            </a>
                            <div ng-class="vm.whichClass(vm.dashMenu[1])">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div  class="top-hmenu-item-wrapper text-center"  crReveal>
                            <a href="/#{{vm.dashMenu[2].url}}"  data-ng-bind-html="vm.dashMenu[2].config.settings.content">
                            </a>
                            <div ng-class="vm.whichClass(vm.dashMenu[2])">
                            </div>
                        </div>
                    </div>
                </div> 
            </div>      
        </div>
    </div>
    <div class="yellow-div col-md-1">
    </div>
</div>
<div data-ng-include="'app/layout/topnavSubMenu.html'">
</div>

</nav>


