<section class="matter" >
    <div class="container">
        <div class="row">
            <div class="widget wcyan">
               <div class="widget-head" title="">
                <button type="button" class="btn btn-secondary btn-lg" ng-click="JobPanel.addNewJob()">
                    <span class="glyphicon glyphicon-plus"></span> Add new job
                </button>

                   <button ng-disabled="currentView != 'jobpanel' || currentJob.status == 'closed'" type="button" class="btn btn-lg" ng-click="JobPanel.edit()">
                       <span class="fa fa-edit"></span> Edit
                   </button>

                   <button ng-disabled="currentView != 'jobpanel' || currentJob.status == 'closed'" type="button" class="btn btn-lg" ng-click="JobPanel.cancel()">
                       <span class="fa fa-undo"></span> Cancel
                   </button>

                <button ng-disabled="!editable" type="button" class="btn btn-lg" ng-click="JobPanel.save()">
                    <span class="fa fa-save"></span> Save changes
                </button>

                   <button ng-disabled="currentView != 'jobpanel' || currentJob.status == 'closed'" type="button" class="btn btn-lg" ng-click="JobPanel.delete()">
                       <span class="fa fa-trash-o"></span> Delete job
                   </button>

                <!--Need ng-hide for show/hide animations-->
                <span ng-show="JobPanel.isChanged()" class="dissolve-animation flag-haschanges ng-hide">
                    <i class="fa fa-asterisk fa fa-asterisk-large" rel="tooltip" title="You have changes"></i>
                </span>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="widget wcyan">
                        <div data-cc-widget-header title="Current jobs"
                        allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <table class="table table-condensed table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Category</th>
                                        <th>Starting date</th>
                                        <th>Engding date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="{{$index}}" data-ng-repeat="p in ownJobs" ng-click="JobPanel.editJob(ownJobs[$index])">
                                        <td class="text-left">{{p.title}}</td>
                                        <td class="text-left">{{p.category}}</td>
                                        <td class="text-left"><span>{{p.dateFrom}}</span></td>
                                        <td class="text-left"><span>{{p.dateTo}}</span></td>
                                        <td class="text-left"><span>{{p.status}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" ng-include="rightPartial" onload="JobPanel.partialInit()">
                </div>
            </div>
        </div>
    </div>
</section>  