<section class="matter" >
    <div class="container">
        <div class="row">
            <div class="widget wcyan">
               <div class="widget-head" title="">
                <button type="button" class="btn btn-secondary btn-lg" ng-click="JobPanel.addNewJob()">
                    <span class="glyphicon glyphicon-plus"></span> Add new job
                </button>
     

                <!--Need ng-hide for show/hide animations-->
                <span ng-show="JobPanel.isChanged()" class="dissolve-animation flag-haschanges ng-hide">
                    <i class="fa fa-asterisk fa fa-asterisk-large" rel="tooltip" title="You have changes"></i>
                </span>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="widget wcyan">
                        <div data-cc-widget-header title="Current jobs" allow-collapse="true"></div>
                        <div class="widget-content text-center text-info widget-ul-list">

                            <ul style="list-style: none;" >
                                <li class="row-container my-job" id="{{$index}}" data-ng-repeat="p in myJobsPaged" ng-click="JobPanel.editJob(myJobsPaged[$index])">
                                    <div class="">
                                        <img class="job-pic pull-left" src="/img/job.jpg">
                                        <div class="jobDetail text-left">
                                            <span class="my-job-detail text-left">Title:</span>
                                            <span>{{p.title}}</span>
                                            <i ng-hide="myJobsPaged[$index].status == 'closed'" class="fa fa-ban boxclose pull-right" ng-click="JobPanel.delete()" id="boxclose" title="Delete job"> </i>
                                        </div>
                                        <div class="jobDetail text-left">
                                            <span class="my-job-detail text-left">Description:</span>
                                            <span> {{p.description}} </span>
                                        </div>
                                        <div class="jobDetail text-left">
                                            <span class="my-job-detail text-left">Category:</span>
                                            <span>{{p.category}}</span>
                                        </div>
                                        <div class="jobDetail text-left">
                                            <span class="my-job-detail text-left">From:</span>
                                            <span>{{p.dateFrom}}</span>
                                        </div>

                                        <div class="jobDetail text-left">
                                            <span class="my-job-detail text-left">To:</span>
                                            <span>{{p.dateTo}}</span>
                                        </div>

                                        <div class="jobDetail text-left">
                                            <a title="Related messages" href="/#/messages">
                                                <span class="count-icon custom-icon">
                                                    <i class="fa fa-3x fa-comment-o"></i>
                                                    <span class="count"> <sup>33</sup></span>
                                                </span>
                                            <a/>
                                            <span ng-hide="myJobsPaged[$index].status == 'closed'" class="custom-icon" title="Edit job" ng-click="JobPanel.edit()">
                                                <i class="fa fa-3x fa-pencil"></i>
                                            </span>
                                        </div>                                    
                                    </div>
                                    
                                </li>

                            </ul>
                            <div class="clearfix"></div>
                            <pagination class="pagination-sm" boundary-links="true" max-size="3" items-per-page="sizePerPage" total-items="myJobsTotal" on-select-page="myJobsPageSelected" page="myJobsCurrentPage" rotate="false"></pagination>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" ng-include="rightPartial" onload="JobPanel.partialInit()">
                </div>
            </div>
        </div>
    </div>
</section>  