<div data-ng-controller="Jobs" class="find-jobs-menu">
    <div class="menu-row row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="col-md-3 row">
                <div class="col-md-4">
                    <span class="small-span bold-span yellow-span">
                        CITY
                    </span>
                    <select class="menu-select" data-ng-model="jobCitySearch" data-ng-options="city as city.name for city in cities">
                    </select>
                </div>
                <div class="col-md-7">
                    <span class="small-span bold-span yellow-span">
                        DISTANCE
                    </span>
                    <input class="menu-input" data-ng-model="jobDistanceSearch"
                    data-ng-keyup="search($event)"
                    placeholder="search by distance...">
                </div>
            </div>
            <div class="col-md-3">
                <span class="small-span bold-span yellow-span">
                    CATEGORY
                </span>
                <select ng-change="attachSubcategories2(selectedCategory);" class="menu-select" data-ng-model="selectedCategory" data-ng-options="cat as cat.name for cat in categories">
                </select>
            </div>
            <div class="col-md-3">
                <span class="small-span bold-span yellow-span">
                    SUBCATEGORY
                </span>
                <select class="menu-select" data-ng-model="selectedSubcategory" data-ng-options="subcat as subcat.name for subcat in subcategories" type="text" placeholder="subcategory">
                </select>
            </div>
            <div class="col-md-3">
                <span class="small-span bold-span yellow-span">
                    SEARCH
                </span>
                <input class="menu-input" type="text" placeholder="serach">
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <div class="menu-row row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="col-md-6">

            </div>
            <div class="col-md-6 row">
              
                <div ng-class="{graydiv : selectedCriteria != 'CALENDAR'}" class="text-center white-div col-md-3" ng-click="selectedCriteria='CALENDAR'">
                    CALENDAR
                </div>
               <div class="col-md-1">
                </div>
                <div ng-class="{graydiv : selectedCriteria != 'DATE'}" class="text-center white-div col-md-4" ng-click="selectedCriteria='DATE'">
                    DATE
                </div>
                <div class="col-md-1">
                </div>
                <div ng-class="{graydiv : selectedCriteria != 'MAP'}" class="text-center white-div col-md-3" ng-click="selectedCriteria='MAP'">
                    MAP
                </div>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>

