<section class="mainbar" data-ng-controller="job as vm">
    <section class="matter">
        <div class="container">
            <div class="widget wcyan">
                <div class="widget-head" title="">
                    <div data-ng-show="vm.isCustomer" class="row">
                        <button type="button" class="btn btn-lg" ng-click="vm.edit()">
                            <span class="fa fa-edit"></span> Edit
                        </button>
                        <button type="button" class="btn btn-lg" ng-click="vm.cancel()">
                            <span class="fa fa-undo"></span> Cancel
                        </button>
                        <button ng-disabled="!vm.editable" type="button" class="btn btn-lg" ng-click="vm.save()">
                            <span class="fa fa-save"></span> Save changes
                        </button><button type="button" class="btn btn-lg" ng-click="vm.delete()">
                            <span class="fa fa-trash-o"></span> Delete job
                        </button>
                        <!--Need ng-hide for show/hide animations-->
                        <span ng-if="vm.user!==vm.backup" class="dissolve-animation ng-hide flag-haschanges">
                            <i class="fa fa-asterisk fa fa-asterisk-large" rel="tooltip" title="You have changes"></i>
                        </span>
                    </div>
                    <div data-ng-show="vm.isCraftsman">
                        <button type="button" class="btn btn-lg" ng-click="vm.edit()">
                            <span class="fa fa-check"></span> Subcribe
                        </button>
                    </div>
                </div>
                <div class="widget-content user">
                    <div class="row">
                        <div class="col-md-6" ng-include="vm.jobInfo">
                        </div>
                        <div class="col-md-6">
                            <div ng-include="vm.jobBids">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
