<div class="widget wcyan" title="{{currentTitle}}">
    <div data-cc-widget-header title="New job"
         allow-collapse="true"></div>

    <div class="widget-content right-partial-view fluid-container">
        <form class="form-horizontal">
            <fieldset>
                <header>
                  <h5>You can drag & drop here</h5>
                </header>
                <div class="job-photo-upload-form" id="job-photo-upload-form">

                  <span id="holder1" class="job-photo-holder" ng-click="currentJob.setFocusOnPhoto(0)">
                    <input name="photo1" id="uploadBtn" type="file" class="upload" />
                  </span>

                  <span id="holder2" class="job-photo-holder" ng-click="currentJob.setFocusOnPhoto(1)">
                    <input name="photo2" id="uploadBtn" type="file" class="upload" />
                  </span>

                  <span id="holder3" class="job-photo-holder" ng-click="currentJob.setFocusOnPhoto(2)">
                    <input name="photo3" id="uploadBtn" type="file" class="upload" />
                  </span> 

                  <span id="holder4" class="job-photo-holder" ng-click="currentJob.setFocusOnPhoto(3)">
                    <input name="photo4" id="uploadBtn" type="file" class="upload" />
                  </span>
                
                <textarea ng-show="currentJob.currentPhotoIndex!==null" ng-model="currentJob.jobPhotos[currentJob.currentPhotoIndex].description" class="form-control ng-pristine ng-valid" id="textarea" name="textarea"></textarea>
                </div>

                <!-- Button -->
                <div class="btn-group col-md-12 text-center">
                     <span>
                        <button id="register-submit" name="register-submit" class="btn btn-primary" ng-click="JobPanel.prevView()"><i class="fa fa-arrow-left"></i> Previous</button>
                    </span>
                    <span>
                        <button id="register-submit" name="register-submit" class="btn btn-primary" ng-click="JobPanel.create()"><i class="fa fa-check"></i>Create</button>
                    </span>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<script>

var $holders = $("span[id^='holder'");

var tests = {
      filereader: typeof FileReader != 'undefined',
      dnd: 'draggable' in document.createElement('span'),
      formdata: !!window.FormData,
      progress: "upload" in new XMLHttpRequest
    },
    support = {
      filereader: document.getElementById('filereader'),
      formdata: document.getElementById('formdata'),
      progress: document.getElementById('progress')
    },
    acceptedTypes = {
      'image/png': true,
      'image/jpeg': true,
      'image/jpg': true
    },
    progress = document.getElementById('uploadprogress'),
    fileupload = document.getElementById("job-photo-upload-form");

function previewfile(holder, file, index) {
  if (tests.filereader === true && acceptedTypes[file.type] === true) {
    var reader = new FileReader();
    reader.onload = function (event) {
      var image = new Image();
      var bla = event.target.result;
      if(((bla.length - 814) / 1.37) > 128*1024) {
        alert("Images greater than 128 kilobytes are not allowed");
        return;
      }
      image.src = event.target.result;
      $(holder).empty();
      holder.appendChild(image);
      var scope = angular.element($(holder)).scope();
      scope.$apply(function(){
          scope.currentJob.storeJobPhoto(image, index);
      });
    };
    reader.readAsDataURL(file);
  }  else {
    holder.innerHTML += '<p>Uploaded ' + file.name + ' ' + (file.size ? (file.size/1024|0) + 'K' : '');
  }
}

function readfiles(holder, files, index) {
    var formData = tests.formdata ? new FormData() : null;
    for (var i = 0; i < files.length; i++) {
      if (tests.formdata) {
        formData.append('file', files[i]);
      }
      previewfile(holder, files[i], index);
    }
}

$fileupload = $(fileupload);
$fileupload.find(".hidden").removeClass("hidden");
if (tests.dnd) { 
  var i = 0;
  $holders.each(function(key, holder) {

    holder.ondragover = function () { this.className = 'hover job-photo-holder'; return false; }.bind(this);
    holder.ondragend = function () { this.className = 'job-photo-holder'; return false; }.bind(this);
    
    holder.ondrop = (function(holder, index) {
        return (function (e) {
          this.className = 'job-photo-holder';
          e.preventDefault();
          readfiles(this, e.dataTransfer.files, index);
        }).bind(holder)
    })(holder, i);

    $input = $(holder).find('input');
    $input.change((function (holder, index) {
        console.debug("oho");
        return (function() {
          console.debug("cao")
          readfiles(holder, this.files, index);
        });
      })(holder, i)
    );
    ++i;
  });

  // $fileupload = $(fileupload);
  // $fileupload.find(".hidden").removeClass("hidden");
  // $fileupload.find(".job-photo-holder").each(function(key, value) {

  // });
}

</script>