<div class="widget wcyan" title="{{currentTitle}}">
    <div data-cc-widget-header title="New job"
         allow-collapse="true"></div>

    <div class="widget-content right-partial-view fluid-container">
        <form class="form-horizontal">
            <fieldset>
                <header>
                  <h3>Drag and drop, automatic upload</h3>
                </header>
                <div class="job-photo-upload-form">

                  <span id="holder1" class="job-photo-holder" ng-click="currentJob.setFocusOnPhoto(0)">
                    <p id="upload" class="hidden"><div class="fileUpload btn btn-primary hidden"><span>Upload</span><input name="photo1" id="uploadBtn" type="file" class="upload" /></div></p>
                  </span>

                  <span id="holder2" class="job-photo-holder" ng-click="currentJob.setFocusOnPhoto(1)">
                    <p id="upload" class="hidden">
                      <div class="fileUpload btn btn-primary hidden">
                          <span>Upload</span>
                          <input name="photo2" id="uploadBtn" type="file" class="upload" />
                      </div> 
                    </p>
                  </span>

                  <span id="holder3" class="job-photo-holder" ng-click="currentJob.setFocusOnPhoto(2)">
                    <p id="upload" class="hidden">
                      <div class="fileUpload btn btn-primary hidden">
                          <span>Upload</span>
                          <input name="photo3" id="uploadBtn" type="file" class="upload" />
                      </div> 
                    </p>
                  </span> 
                  <span id="holder4" class="job-photo-holder" ng-click="currentJob.setFocusOnPhoto(3)">                  
                    <p id="upload" class="hidden">
                      <div class="fileUpload btn btn-primary hidden">
                          <span>Upload</span>
                          <input name="photo4" id="uploadBtn" type="file" class="upload" />
                      </div> 
                    </p>
                  </span>
                
                <textarea ng-show="currentJob.currentPhotoIndex!==null" ng-model="currentJob.jobPhotos[currentJob.currentPhotoIndex].description" class="form-control ng-pristine ng-valid" id="textarea" name="textarea"></textarea>
                </div>

                <!-- Button -->
                <div class="btn-group col-md-12 text-center">
                     <span>
                        <button id="register-submit" name="register-submit" class="btn btn-primary" ng-click="JobPanel.prevView()"><i class="fa fa-arrow-left"></i> Previous</button>
                    </span>
                    <span>
                        <button id="register-submit" name="register-submit" class="btn btn-primary" ng-click="JobPanel.create()"><i class="fa fa-check"></i>Create</button>
                    </span>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script>
var $holders = $("span[id^='holder'");

var tests = {
      filereader: typeof FileReader != 'undefined',
      dnd: 'draggable' in document.createElement('span'),
      formdata: !!window.FormData,
      progress: "upload" in new XMLHttpRequest
    }, 
    support = {
      filereader: document.getElementById('filereader'),
      formdata: document.getElementById('formdata'),
      progress: document.getElementById('progress')
    },
    acceptedTypes = {
      'image/png': true,
      'image/jpeg': true,
      'image/jpg': true
    },
    progress = document.getElementById('uploadprogress'),
    fileupload = document.getElementById('upload');

function previewfile(holder, file, index) {
  alert(file.type);
  if (tests.filereader === true && acceptedTypes[file.type] === true) {
    var reader = new FileReader();
    reader.onload = function (event) {
      var image = new Image();
      console.debug(event.target.result);
      var bla = event.target.result.substring(22 + acceptedTypes[file.type]);
      if(atob(bla).length > 128*1024) {
        alert("Images greater than 128 kilobytes are not allowed");
        return;
      }
      image.src = event.target.result;
      $(holder).empty();
      holder.appendChild(image);
      var scope = angular.element($(holder)).scope();
      scope.$apply(function(){
          scope.currentJob.storeJobPhoto(image, index);
      });
    };
    reader.readAsDataURL(file);
  }  else {
    holder.innerHTML += '<p>Uploaded ' + file.name + ' ' + (file.size ? (file.size/1024|0) + 'K' : '');
  }
}

function readfiles(holder, files, index) {
    // debugger;
    var formData = tests.formdata ? new FormData() : null;
    console.debug(formData);
    for (var i = 0; i < files.length; i++) {
      if (tests.formdata) {
        formData.append('file', files[i]);
      }
      previewfile(holder, files[i], index);
    }
}

if (tests.dnd) { 
  var i = 0;
  $holders.each(function(key, holder) {
    console.debug(holder);
    holder.ondragover = function () { this.className = 'hover job-photo-holder'; return false; }.bind(this);
    holder.ondragend = function () { this.className = 'job-photo-holder'; return false; }.bind(this);
    holder.ondrop = (function(holder, index) {
        return (function (e) {
          this.className = 'job-photo-holder';
          e.preventDefault();
          readfiles(this, e.dataTransfer.files, index);
        }).bind(holder)
    })(holder, i);
    ++i;
  });
} else {
  fileupload.className = 'hidden';
  fileupload.querySelector('input').onchange = function () {
    readfiles(this.files);
  };
}

</script>