<div class="widget wcyan">
    <div data-cc-widget-header title="Job details"
         allow-collapse="true"></div>
    <div class="widget-content right-partial-view fluid-container widget-ul-list">
        <div>
            <form class="form-horizontal">
                <fieldset>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-8 control-label" for="">Title</label>
                        <div class="col-md-8">
                            <input ng-disabled="!editable" ng-model="currentJob.title"
                             type="text" placeholder="" class="form-control input-md" required="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-8 control-label" for="">Description</label>
                        <div class="col-md-8">
                            <textarea ng-disabled="!editable" ng-model="currentJob.description"
                             type="text" placeholder="" class="form-control input-md" required=""></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-8 control-label" for="category">Category</label>
                        <div class="col-md-8">
                            <select ng-disabled="!editable" id="category" name="category" class="form-control"
                                    ng-model="currentJob.selectedCategory.category"
                                    ng-options="cat.name for cat in categories"
                                    ng-change="currentJob.changeCategory()"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-8 control-label" for="subcategory">Subcategory</label>
                        <div class="col-md-8">
                            <select ng-disabled="!editable" id="subcategory" name="subcategory" class="form-control"
                                    ng-model="currentJob.selectedCategory.subcategory"
                                    ng-options="cat.name for cat in subcategories"></select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-8 control-label" for="">Starting date</label>
                        <div class="col-md-8">
                            <input ng-disabled="!editable" ng-model="currentJob.dateFrom" id="" 
                                   type="starting date" placeholder="" class="form-control input-md" required="">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-8 control-label" for="name">Ending date</label>
                        <div class="col-md-8">
                            <input ng-disabled="!editable" ng-model="currentJob.dateTo" 
                                    type="text" placeholder="ending date" class="form-control input-md" required="">
                        </div>
                    </div>
                    <h4>Photos</h4>
                    <lightbox images="currentJob.jobAlbum"></lightbox>
<!--                     <div class="job-photo-gallery">
                        <div class="job-photo" ng-repeat="i in currentJob.jobAlbum">
                            <img src="{{i.img}}" description="{{i.description}}">
                        </div>
                    </div> -->

                </fieldset>
            </form>

            <button ng-hide="!editable" type="button" class="btn btn-lg" ng-click="JobPanel.save()">
                <span class="fa fa-save"></span> Save changes
            </button>

            <button ng-hide="!editable" type="button" class="btn btn-lg" ng-click="JobPanel.cancel()">
                       <span class="fa fa-undo"></span> Cancel
            </button>

        </div>
      

            <!-- <table class="table table-condensed table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>E-mail</th>
                        <th>Rating</th>
                        <th>Accept</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="{{$index}}" data-ng-repeat="p in currentJob.bidders" ng-mouseenter="JobList.toggleFocus($index)" ng-mouseleave="JobList.toggleFocus($index)" ng-click="JobList.showBidder($index)">
                        <td class="text-left">{{p.name}}</td>
                        <td class="text-left">{{p.surname}}</td>
                        <td class="text-left"><span>{{p.email}}</span></td>
                        <td class="text-left"><span>{{p.rating.avgRate}}</span></td>
                        <td class="text-left"><button class="btn btn-primary" ng-show="!(currentJob.status == 'closed') && JobList.getFocus($index)" ng-click="JobList.acceptBid($index)"><strong>Accept</strong></button>
                        <i ng-show="currentJob.status == 'closed'"class="fa fa-check fa-4"></i>
                        </td>

                    </tr>
                </tbody>
            </table> -->
            <hr>
            <ul style="list-style: none;" >
                <li class="my-offer" id="{{$index}}" data-ng-repeat="p in biddersPagedItems" >
                    <div class="row-container jobDetail">
                        <img style="float:left" src="/img/pokit_3416a75f4cea9109507cacd8e2f2aefc.jpg">
                        <div class="jobDetail text-left">
                            <span class="my-job-detail text-left">Name:</span>
                            <span> {{p.name}} </span>
                            <a  class="glyphicon glyphicon-star custom-icon boxbookmark pull-right"
                            ng-show="!(currentJob.status == 'closed') && JobList.getFocus($index)" ng-click="JobList.acceptBid($index)" id="boxbookmark" title="Accept bidder">
                            </a>
                        </div>
                        <div class="jobDetail text-left">
                            <span class="my-job-detail text-left">Surname:</span>
                            <span>{{p.surname}}</span>
                        </div>
                        <div class="jobDetail text-left">
                            <span class="my-job-detail text-left">Email:</span>
                            <span>{{p.email}}</span>
                        </div>
                        <div class="jobDetail text-left">
                            <span class="my-job-detail text-left">Rating:</span>
                            <span class="rating-stars">
                                <rating readonly="true" value="p.rating.avgRate"></rating>
                            </span>
                        </div>  
                        <div class="jobDetail" style="display: inline-block;">
                            <a class="pull-left" title="Contact bidder" href="/#/messages">
                                <span class="custom-icon">
                                    <i class="fa fa-3x fa-envelope-o"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <hr>
                </li>
            </ul>

            <div class="widget-foot" style="border: 0">
            <div class="clearfix"></div>
            <pagination class="pagination-sm" boundary-links="true" max-size="3" items-per-page="sizePerPage" on-select-page="biddersPageSelected" page="biddersCurrentPage" rotate="false" total-items="biddersTotalItems"></pagination>
            
            </div>           
     
    </div>
</div>
 
