<div class="widget wcyan">
    <div data-cc-widget-header title="Job details"
         allow-collapse="true"></div>
    <div class="widget-content right-partial-view fluid-container">
        <div>
            <form class="form-horizontal" ng-submit="vm.viewjob.save()">
                <fieldset>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-8 control-label" for="">Title</label>
                        <div class="col-md-8">
                            <input ng-disabled="!vm.viewjob.editable" ng-model="vm.viewjob.currentJob.title" id="" name="" type="text" placeholder="" class="form-control input-md" required="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-8 control-label" for="">Title</label>
                        <div class="col-md-8">
                            <input ng-disabled="!vm.viewjob.editable" ng-model="vm.viewjob.currentJob.description" id="email" name="email" type="text" placeholder="" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
<!--                     <div class="form-group">
                        <label class="col-md-8 control-label" for="username">Author</label>
                        <div class="col-md-8">
                            <input ng-disabled="!vm.viewjob.editable" ng-model="vm.usr.username" id="username" name="username" type="text" placeholder="username" class="form-control input-md" required="">
                        </div>
                    </div> -->

                    <!-- Password input-->
                    <div class="form-group">
                        <label class="col-md-8 control-label" for="password">Category</label>
                        <div class="col-md-8">
                            <input ng-disabled="!vm.viewjob.editable" ng-model="vm.viewjob.currentJob.category" id="password" name="text" type="text" placeholder="" class="form-control input-md" required="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-8 control-label" for="password">Subcategory</label>
                        <div class="col-md-8">
                            <input ng-disabled="!vm.viewjob.editable" ng-model="vm.viewjob.currentJob.subcategory" id="password" name="text" type="text" placeholder="" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Password input-->
                    <div class="form-group">
                        <label class="col-md-8 control-label" for="">Starting date</label>
                        <div class="col-md-8">
                            <input ng-disabled="!vm.viewjob.editable" ng-model="vm.viewjob.currentJob.dateFrom" id="" name="" type="starting date" placeholder="" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-8 control-label" for="name">Ending date</label>
                        <div class="col-md-8">
                            <input ng-disabled="!vm.viewjob.editable" ng-model="vm.viewjob.currentJob.dateTo" id="name" name="name" type="text" placeholder="ending date" class="form-control input-md" required="">
                        </div>
                    </div>

<!--                     <div class="form-group">
                        <label class="col-md-8 control-label" for="surname">Surname</label>
                        <div class="col-md-8">
                            <input ng-disabled="!vm.viewjob.editable" ng-model="vm.viewjob.currentJob.surname" id="surname" name="surname" type="text" placeholder="surname" class="form-control input-md" required="">

                        </div>
                    </div> -->

                    <!-- Text input-->
<!--                     <div class="form-group">
                        <label class="col-md-8 control-label" for="telephone">Telephone</label>
                        <div class="col-md-8">
                            <input ng-disabled="!vm.viewjob.editable" ng-model="vm.viewjob.currentJob.telephone" name="telephone" type="text" placeholder="telephone number" class="form-control input-md" required="">
                        </div>
                    </div> -->
                    
                </fieldset>
            </form>
        </div>
    </div>
</div>

