<div class="widget wcyan">
    <div data-cc-widget-header title="Job details"
         allow-collapse="true"></div>
    <div class="widget-content right-partial-view fluid-container">
        <div>
            <form class="form-horizontal" ng-submit="vm.viewjob.save()">
                <fieldset>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-8 control-label" for="">Title</label>
                        <div class="col-md-8">
                            <input ng-disabled="!vm.viewjob.editable" ng-model="vm.viewjob.currentJob.title"
                             type="text" placeholder="" class="form-control input-md" required="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-8 control-label" for="category">Category</label>
                        <div class="col-md-8">
                            <select ng-disabled="!vm.viewjob.editable" id="category" name="category" class="form-control"
                                    ng-model="vm.viewjob.currentJob.selectedCategory.category"
                                    ng-options="cat.name for cat in vm.viewjob.currentJob.categories"
                                    ng-change="vm.viewjob.changeCategory()"
                                    ng-init="vm.viewjob.currentJob.selectedCategory.category=vm.viewjob.currentJob.category"></select>
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-8 control-label" for="subcategory">Subcategory</label>
                        <div class="col-md-8">
                            <select ng-disabled="!vm.viewjob.editable" id="subcategory" name="subcategory" class="form-control"
                                    ng-model="vm.viewjob.currentJob.selectedCategory.category"
                                    ng-options="cat.name for cat in vm.viewjob.currentJob.subcategories"
                                    ng-init="vm.viewjob.currentJob.selectedCategory.subcategory=vm.viewjob.currentJob.subcategory"></select>
                        </div>
                    </div>


                    <!-- Password input-->
                    <div class="form-group">
                        <label class="col-md-8 control-label" for="">Starting date</label>
                        <div class="col-md-8">
                            <input ng-disabled="!vm.viewjob.editable" ng-model="vm.viewjob.currentJob.dateFrom" id="" 
                                   type="starting date" placeholder="" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-8 control-label" for="name">Ending date</label>
                        <div class="col-md-8">
                            <input ng-disabled="!vm.viewjob.editable" ng-model="vm.viewjob.currentJob.dateTo" 
                                    type="text" placeholder="ending date" class="form-control input-md" required="">
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>

