<section class="matter">
    <div class="container">
        <div class="row">
            <div class="widget wcyan">
                <div class="row">
                    <div class="col-md-6">
                        <div class="widget wcyan">
                            <div data-cc-widget-header title="All jobs"
                            allow-collapse="true"></div>
                            <div class="widget-content text-center text-info">
                                <table class="table table-condensed table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Category</th>
                                            <th>Starting date</th>
                                            <th>Engding date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="{{$index}}" data-ng-repeat="p in JobList.getJobs()" ng-click="JobList.showJob($index)">
                                            <td class="text-left">{{p.title}}</td>
                                            <td class="text-left">{{p.category}}</td>
                                            <td class="text-left"><span>{{p.dateFrom}}</span></td>
                                            <td class="text-left"><span>{{p.dateTo}}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" ng-include="rightPartial" onload="initRightPartial()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  