<section class="matter">
    <div class="container">
        <div class="row">
            <input class="input-medium search-query"
                       data-ng-model="jobSearch"
                       data-ng-keyup="search($event)"
                       placeholder="live search...">
            <div class="widget wcyan">
                <div class="row">
                    <div class="col-md-6">
                        <div class="widget wcyan">
                            <div data-cc-widget-header title="All jobs"
                            allow-collapse="true"></div>
                            <div class="widget-content text-center text-info">
                            
                                <table class="table table-condensed table-striped table-hover">
                                    <!-- <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Category</th>
                                            <th>Starting date</th>
                                            <th>Engding date</th>
                                        </tr>
                                    </thead> -->
                                    <tbody>
                                        <tr id="{{$index}}" data-ng-repeat="p in pagedItems" ng-click="JobList.showJob($index)">
                                            <td >
                                                <div class="row-container ">
                                                    <div class="row-container my-offer col-md-11">
                                                        <img class="pull-left" src="/img/pokit_3416a75f4cea9109507cacd8e2f2aefc.jpg">
                                                        
                                                        <div class="jobDetail text-left">
                                                            <span class="my-job-detail text-left">Title: {{p.title}}</span>
                                                            
                                                        </div>
                                                        <div class="jobDetail text-left">
                                                            <span class="my-job-detail text-left">Description: {{p.description}}</span>
                                                        </div>
                                                        <div class="jobDetail text-left">
                                                            <span class="my-job-detail text-left">Category: {{p.category}}</span>
                                                        </div>
                                                        <div class="jobDetail text-left">
                                                            <span class="my-job-detail text-left">From: {{p.dateFrom}}</span>
                                                        </div>

                                                        <div class="jobDetail text-left">
                                                            <span class="my-job-detail text-left">To: {{p.dateTo}}</span>
                                                        </div>                
                                                    </div>
                                                    <div class="boxbookmark col-md-1" ng-hide="isBidder($index)">
                                                        <a ng-hide="ownJobs[$index].status == 'closed'" class="custom-icon boxbookmark pull-right" ng-click="ViewJob.bid()" id="boxbookmark" title="Bid for this job">
                                                            <i class="fa fa-star-o"></i>
                                                        </a>
                                                    </div>

                                                   
                                                    <a ng-show="isBidder($index)" class="boxclose pull-right" ng-click="ViewJob.cancelBid()" id="boxclose" title="Cancel bid"> </a>
                                                </div>

                                                <div class="jobDetail pull-left">
                                                    <a class="pull-left" title="Contact author" href="/#/messages">
                                                        <span class="custom-icon">
                                                            <i class="fa fa-3x fa-envelope-o"></i>
                                                           
                                                        </span>
                                                    </a>
                                                    <span class="pull-left custom-icon">
                                                        <i class="fa fa-3x fa-print"></i>
                                                       
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> 
                            </div>
                            <div class="widget-foot">
                                <div class="clearfix"></div>

                                <pagination class="pagination-sm" boundary-links="true" max-size="3" items-per-page="sizePerPage" on-select-page="pageSelected" page="currentPage" rotate="false"></pagination>


                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" ng-include="rightPartial" onload="initRightPartial()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  