<section class="matter" data-ng-controller="Jobs" ng-init="initLeftPartial()">
    <div class="container">
        
            <div class="widget wcyan">
                <div data-cc-widget-header title="Find a job"
                allow-collapse="true">

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="widget-content text-center text-info widget-ul-list">
                            <input class="input-medium search-query"
                                   data-ng-model="jobCitySearch"
                                   data-ng-keyup="search($event)"
                                   placeholder="search by city...">
                           <input class="input-medium search-query"
                                   data-ng-model="jobDistanceSearch"
                                   data-ng-keyup="search($event)"
                                   placeholder="search by distance...">
                           <input class="input-medium search-query"
                                   data-ng-model="jobCategorySearch"
                                   data-ng-keyup="search($event)"
                                   placeholder="search by category...">
                           <input class="input-medium search-query"
                                   data-ng-model="jobSubcategorySearch"
                                   data-ng-keyup="search($event)"
                                   placeholder="search by subcategory...">
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>

            <div class="widget wcyan">
                <div class="row">
                    <div class="col-md-6">
                        <div class="widget wcyan">
                            <div data-cc-widget-header title="All jobs"
                            allow-collapse="true"></div>
                            <div class="widget-content text-center text-info widget-ul-list">
                                <ul style="list-style: none;" >
                                    <li class="my-offer" id="{{$index}}" data-ng-repeat="p in allJobsPaged" ng-click="JobList.showJob($index)">
                                        <div class="row-container">
                                            <img style="float:left" src="/img/pokit_3416a75f4cea9109507cacd8e2f2aefc.jpg">
                                            <div class="jobDetail text-left">
                                                <span class="my-job-detail text-left">Title:</span>
                                                <span> {{p.title}} </span>
                                                <span ng-hide="isBidder($index)" class="glyphicon glyphicon-star custom-icon boxbookmark pull-right" ng-click="ViewJob.bid()" id="boxbookmark" title="Bid for this job">
                                                </span>
                                                <span ng-show="isBidder($index)" class="fa fa-times boxclose " ng-click="ViewJob.cancelBid()" id="boxclose" title="Cancel bid"> 
                                                </span>
                                            </div>
                                            <div class="jobDetail text-left">
                                                <span class="my-job-detail text-left">Description:</span>
                                                <span>{{p.description}}</span>
                                            </div>
                                            <div class="jobDetail text-left">
                                                <span class="my-job-detail text-left">Category:</span>
                                                <span> {{p.category}} </span>
                                            </div>
                                            <div class="jobDetail text-left">
                                                <span class="my-job-detail text-left">From:</span>
                                                <span>{{p.dateFrom}}</span>
                                            </div>

                                            <div class="jobDetail text-left">
                                                <span class="my-job-detail text-left">To:</span>
                                                <span>{{p.dateTo}}</span>
                                            </div>                           
                                            <div class="jobDetail" style="display: inline-block;">
                                                <a class="pull-left" title="Contact author" href="/#/messages">
                                                    <span class="custom-icon">
                                                        <i class="fa fa-3x fa-envelope-o"></i>
                                                    </span>
                                                </a>
                                                <span class="pull-left custom-icon">
                                                    <i class="fa fa-3x fa-print"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="clearfix"></div>
                            <pagination class="pagination-sm" boundary-links="true" max-size="3" items-per-page="sizePerPage" on-select-page="allJobsPageSelected" page="allJobsCurrentPage" total-items="allJobsTotal" rotate="false"></pagination>
                            <div class="clearfix"></div>
                        </div>
                        <div class="craftia-map" id="map-canvas"/>
                    </div>
                    <div class="col-md-6" ng-include="rightPartial" onload="initRightPartial()">
                    </div>
                </div>
            </div>
    </div>

