<div class="col-md-1">
</div>

<div class="col-md-4">
	<div class="fluid-container  widget wcyan">
		<div data-cc-widget-header title="Photo and rating">
		</div>

		<div class="widget-content fluid-container">
			<div class="fileinput fileinput-new" data-provides="fileinput">
				<div class="fileinput-new thumbnail profile-picture">
					<img ng-src="{{appUser.profilePic}}"/>
					<br>
					<div class="user-rating-box rating-stars">
						<rating readonly="true" value="appUser.rating.avgRate"></rating>
					</div>
					<form class="form-horizontal upload-picture-form">
						 <div class="fileUpload btn btn-black">
							<span>Upload</span>
							<input ng-file-select="uploadPhoto($files)" id="uploadBtn" type="file" class="upload" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

<div class="widget wcyan fluid-container">
	<div data-cc-widget-header title="Private details">
	</div>

	<div class="widget-content fluid-container">

			<form class="form-horizontal">
				<fieldset>


					

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-12 control-label" for="email">E-mail</label>
						<div class="col-md-12">
							<input ng-disabled="!editable" ng-model="appUser.email" id="email" name="email" type="text" placeholder="email" class="form-control input-md" required="">
						</div>
					</div>
					
					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-12 control-label" for="username">Username</label>
						<div class="col-md-12">
							<input ng-disabled="true" ng-model="appUser.username" id="username" name="username" type="text" placeholder="username" class="form-control input-md" required="">
						</div>
					</div>


					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-12 control-label" for="name">Name</label>
						<div class="col-md-12">
							<input ng-disabled="true" ng-model="tempProfile.name" id="name" name="name" type="text" placeholder="name" class="form-control input-md" required="">
						</div>
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-12 control-label" for="surname">Surname</label>
						<div class="col-md-12">
							<input ng-disabled="!editing" ng-model="tempProfile.surname" id="surname" name="surname" type="text" placeholder="surname" class="form-control input-md" required="">
						</div>
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-12 control-label" for="telephone">Telephone</label>
						<div class="col-md-12">
							<input ng-disabled="!editing" ng-model="tempProfile.telephone" name="telephone" type="text" placeholder="telephone number" class="form-control input-md" required="">
						</div>
					</div>

					<div ng-hide="editing" class="form-group">
						<label class="col-md-9 control-label">
							Categories:
						</label>
						<div class="col-md-9">
							<ul>
								<li ng-repeat="cat in categories">
									<span class="tiny-span">{{cat}}</span>
								</li>
							</ul>
						</div>
					</div>

					<div ng-show="editing" class="form-group">
						<label class="col-md-9 control-label" for="categories">Categories:</label>
						<div class="col-md-9">
							<select ng-disabled="!editing" name="categories" id="multi-select" ui-select2 multiple ng-model="tempProfile.categories" data-placeholder="Pick your categories">
							    <option ng-repeat="cat in availableCategories" value="{{cat}}">{{cat}}</option>
							</select>
						</div>
					</div>
					
				</fieldset>
			</form>
			<button class="btn btn-black" ng-disabled="editing" ng-click="editProfile()"> Update profile</button>
			<button class="btn btn-black" ng-disabled="!editing" ng-click="updateProfile()"> Save changes</button>
			<button class="btn btn-black" ng-show="editing" ng-click="editProfile()"> Cancel</button>
		</div>
	</div>
</div>
<div class="col-md-1">
</div>

<div class="col-md-4">
	<div class="widget wcyan fluid-container ">
		<div data-cc-widget-header title="Reputation: {{appUser.rating.avgRate}}, total votes: {{appUser.rating.totalVotes}}">
		</div>
		<div class="widget-content fluid-container">
			<ul class="example-animate-container">
		    <li class="animate-repeat" ng-repeat="rating in ratings">
		      <div>
						<div style="text-align:left" class="user-rating-box rating-stars">
								<span>Mark: </span>
								<rating readonly="true" value="rating.mark"></rating>
								<button class="btn btn-black" ng-show="rating.job !== job._id" ng-click="viewJob(rating.job)"> View job</button>
								<button class="btn btn-black" ng-show="rating.job === job._id" ng-click="hideJob(rating.job)"> Hide job</button>
						</div>
						<span>Comment: </span><br>
						<span>{{rating.comment}}</span>
					</div>
					<div class="clearfix"></div>
					<div  ng-show="rating.job === job._id"  data-ng-include="'/shared/templates/layout/singleJob.html'">
					</div>
		    </li>
		  </ul>
		</div>
	</div>
</div>


