<div class="col-md-1 col-lg-1 col-sm-1"></div>
<div class="col-md-10 col-lg-10 col-sm-10">
    <div class="widget wcyan">
        <div data-cc-widget-header title="Log in here..."></div>
        <div class="widget-content user">
            <div class="row">
                    <div class="widget wcyan">
                        <form class="form-horizontal" ng-submit="login()">
                            <fieldset>

                                <!-- Form Name -->
                                <h3>Login details</h3>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="email">Email</label>
                                    <div class="col-md-10">
                                        <input ng-model="loginDetails.email" id="email" name="email" type="email" placeholder="" class="form-control input-md" required="" auto-fill-sync>
                                    </div>
                                </div>

                                <!-- Password input-->
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="password">Password</label>
                                    <div class="col-md-10">
                                        <input ng-model="loginDetails.password" id="password" name="password" type="password" placeholder="" class="form-control input-md" required="" auto-fill-sync>
                                    </div>
                                </div>

                                <!-- Multiple Checkboxes (inline) -->
                                <div class="form-group">
                                    <label class="control-label" for="remember">Remember me
                                    </label>
                                    <span>
                                        <input ng-model="loginDetails.rememberme" type="checkbox" name="remember" id="remember-0" value="1">
                                    </span>
                                </div>

                                <div class="form-group">
                                 <input type="submit" id="" name="" class="btn btn-success" value="Login"/>
                                </div>
                         </fieldset>
                     </form>

                 </div>
            </div>


         </div>
     </div>
</div>
<div class="col-md-1 col-lg-1 col-sm-1"></div>
