<div class="shell-content">
    <div class="row">
        <div class="widget wcyan" style="height:350px">
            <div style="width:400px;position:relative;left:50%;top: 20%;margin-left:-200px">
                <a ui-sref=".craftsman" class="big-orange-button" style="float:left">Work</a>
                <a ui-sref=".customer" class="big-orange-button" style="float:right">Hire</a>
            </div>
<!--             <ul ng-controller="RegisterCtrl" rn-carousel class="image" rn-carousel-swipe="false" rn-carousel-indicator>
             <li ng-repeat="image in images" ng-style="{ backgroundImage: 'url(' + image + ')' }">
                <div class="layer">{{ image }}</div>
              </li>
            </ul> -->
        </div>
    </div>
</div>
