<div class="col-md-1"></div>
<div class="row col-md-10">
	<div class="widget wcyan">
		<div cc-widget-header title="Register as a craftsman"></div>
		<div class="widget-content user">
			<div class="row">
				<form class="form-horizontal" name="userForm" novalidate ng-submit="register()">
					<div class="col-md-6">
						<div class="widget wcyan">
							<div class="profile-details-widget fluid-container">
									<!-- Form Name -->
									<h3>Profile Details</h3>

									<div class="form-grou col-md-9">
										<label class="col-md-9 control-label" for="categories">Categories:</label>
											<select name="categories" id="multi-select" ui-select2 multiple ng-model="userDetails.categories" data-placeholder="Pick your categories">
											    <option ng-repeat="cat in availableCategories" value="{{cat}}">{{cat}}</option>
											</select>
									</div>
									<!-- Text input-->
									<div class="form-group col-md-9" ng-class="{'has-success':userForm.email.$valid, 'has-error' : userForm.email.$invalid && !userForm.email.$pristine}">
										<label class="col-md-9 control-label" for="email">E-mail</label>
											<input ng-model="userDetails.email" id="email" name="email" type="email" placeholder="email" class="form-control input-md" ng-required="true"><br>
											<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
									</div>

									<!-- Text input-->
									<div class="form-group col-md-9" ng-class="{'has-success':userForm.username.$valid, 'has-error' : userForm.username.$invalid && !userForm.username.$pristine}">
										<label class="col-md-9 control-label" for="username">Username</label>
											<input ng-model="userDetails.username" id="username" name="username" type="text" placeholder="username" class="form-control input-md" required="" ng-minlength="3" ng-maxlength="8" ng-required="true"><br>
											<p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
            					<p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
									</div>

									<!-- Password input-->
									<div class="form-group col-md-9" ng-class="{'has-success':userForm.password.$valid, 'has-error' : userForm.password.$invalid && !userForm.password.$pristine}">
										<label class="col-md-9 control-label" for="password">Password</label>
											<input ng-model="userDetails.password" ng-minlength="8" id="password" name="password" type="password" placeholder="password" class="form-control input-md" ng-required="true"><br>
											<p ng-show="userForm.password.$error.minlength" class="help-block">Password must be at least 8 characters long</p>
									</div>

									<!-- Password input-->
									<div class="form-group col-md-9" ng-class="{'has-success': reppass === userDetails.password, 'has-error' : userDetails.password !== reppass && !userForm.reppassword.$pristine}">
										<label class="col-md-9 control-label" for="reppassword">Repeat password</label>
											<input id="rep-password" name="reppassword" ng-model="reppass" type="password" name="reppassword" placeholder="repeat password" class="form-control input-md" ng-required="true"><br>
											<p ng-show="userDetails.password !== reppass && !userForm.reppassword.$pristine" class="help-block">Passwords must match!</p>
									</div>

									<!-- Text input-->
									<div class="form-group col-md-9" ng-class="{'has-success':userForm.name.$valid, 'has-error' : userForm.name.$invalid && !userForm.name.$pristine}">
										<label class="col-md-9 control-label" for="name">Name</label>
											<input ng-required="true" ng-model="userDetails.name" id="name" name="name" type="text" placeholder="name" class="form-control input-md" ng-required="true">
									</div>

									<!-- Text input-->
									<div class="form-group col-md-9" ng-class="{'has-success':userForm.surname.$valid, 'has-error' : userForm.name.$invalid && !userForm.surname.$pristine}">
										<label class="col-md-9 control-label" for="surname">Surname</label>
											<input ng-model="userDetails.surname" id="surname" name="surname" type="text" placeholder="surname" class="form-control input-md" ng-required="true">
									</div>

									<!-- Text input-->
									<div class="form-group col-md-9" >
										<label class="col-md-9 control-label" for="telephone">Telephone</label>
											<input ng-required="true" ng-model="userDetails.telephone" id="telephoneNumber" name="telephoneNumber" type="text" placeholder="telephone number" class="form-control input-md" ><br>
											<p ng-show="userForm.telephoneNumber.$invalid !== userForm.telephoneNumber.$pristine" class="help-block">Telephone number is required</p>
									</div>

									<!-- Text input-->
									<div class="form-group col-md-9" ng-class="{'has-success':userForm.city.$valid, 'has-error' : userForm.city.$invalid && !userForm.city.$pristine}">
										<label class="col-md-9 control-label" for="city">City</label>
											<input ng-model="userDetails.address.city"  placeholder="..." typeahead="address.name for address in getCities($viewValue) | filter:$viewValue | limitTo:8" typeahead-loading="true" class="form-control input-md" ng-required="true">
											<br>
											<p ng-show="userForm.city.$invalid !== userForm.city.$pristine" class="help-block">City is required</p>
									</div>
									

									<!-- Text input-->
									<div class="form-group col-md-9" ng-class="{'has-success':userForm.address.$valid, 'has-error' : userForm.address.$invalid && !userForm.address.$pristine}">
										<label class="col-md-9 control-label" for="address">Address</label>
											<input ng-model="userDetails.address.line1" name="address" type="text" placeholder="address of residence" class="form-control input-md" ng-required="true"><br>
											<p ng-show="userForm.address.$invalid !== userForm.address.$pristine" class="help-block">Address is required</p>
									</div>

									<div class="form-group">
										<div class="col-md-9">
									  <cc-upload-photos upload="photoUploaded(file, rawImg)" disableDesc photos="userDetails.picture" num="1">
										</cc-upload-photos>
										</div>
									</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="widget wcyan fluid-container">
							<h3>Terms & Conditions</h3>
							<textarea readonly  rows="20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</textarea>

							<div class="checkbox">
								<label class="" for="gtc">
									<input ng-model="acceptedTOS" type="checkbox" name="gtc" id="gtc-0" value="">Accept Terms &amp; Conditions
								</label>
							</div>
							
							<!-- Button -->
							<div class="form-group">
								<div class="col-md-9 col-md-offset-5">
									<input ng-disabled="userForm.$invalid && acceptedTOS" value="Register" type="submit" id="register-submit" name="register-submit" class="btn btn-lg btn-black">
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="col-md-1"></div>
