<div class="col-md-3 col-sm-3 col-xs-3">
</div>

<div class="col-md-3 col-sm-3 col-xs-3 top-hmenu-item-wrapper">
    <div  class="top-hmenu-item-wrapper pull-right">
        <a ui-sref=".messages">MESSAGES</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div>

<div class="col-md-3 col-sm-3 col-xs-3">
    <div  class="top-hmenu-item-wrapper pull-right">
        <a ui-sref=".jobs">MY JOBS</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div>

<div class="col-md-3 col-sm-3 col-xs-3">
    <div  class="top-hmenu-item-wrapper pull-right">
        <a ui-sref=".createJob">CREATE JOB</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div>