<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10 text-center">
			<img class="how-to-big" src="/img/3070025-Handwerker.jpg">
			<div class="underConstruction"> </div>
			<div class="dashboard-section text-center">
				<span class="black-span big-span zine-reg-ital" >
					The grade of service is important to us.
				</span>
				<span class="other-yellow-span big-span zine-reg-roman" >
					Our quality management!
				</span>
			</div>
			<div class="dashboard-section row">
				<div class="col-md-6 text-center" >
					<img class="letter" src="/img/for_service_provider.jpg">
					<span class="black-span big-span zine-med-roman" >
						For Service Provider
					</span>

			</div>
			<div class="col-md-6 text-center">
				<img class="letter" src="/img/for_craftsman.jpg">
				<span class="black-span big-span zine-med-roman" >
					For Craftsman
				</span>
			</div>
		</div>
		<img class="how-to-big" src="/img/silk_ribbon.jpg">
		<div class="row">
			<div class="col-md-4 ribbon text-center">
				<img class="how-to-big" src="/img/approved.jpg">
				<br>
				<span> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
				</span>
			</div>
			<div class="col-md-4 ribbon text-center">
				<img class="how-to-big" src="/img/master.jpg">
				<br>
				<span> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
				</span>
			</div>
			<div class="col-md-4 ribbon text-center">
				<img class="how-to-big" src="/img/quality.jpg">
				<br>
				<span> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
				</span>
			</div>
		</div>

		<div class="dashboard-section">
			<div class="text-left">

			</div>
			<div class="row">
				<div class="col-md-4 yellow-div">
					<img class="how-to-big" src="/img/upload_your_documents.jpg">
					<div class="row">
						<div class="col-md-1 yellow-div">
						</div>
						<div class="col-md-10 dashboard-section yellow-div row">
							<div class="col-md-3 yellow-div">
								<span class="huge-span zine-bold-roman black-span">1.
								</span>
							</div>
							<div class="col-md-9 yellow-div">
								<span class="big-span zine-bold-roman black-span"> Upload your documents
								</span>
								<br>
								<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget 
								</span>
							</div>
						</div>
						<div class="col-md-1 yellow-div">
						</div>
					</div>	
				</div>
				<div class="col-md-4 yellow-div">
					<img class="how-to-big" src="/img/examine_your_documents.jpg">
					<div class="row">
						<div class="col-md-1 yellow-div">
						</div>
						<div class="col-md-10 dashboard-section  yellow-div row">
							<div class="col-md-3 yellow-div">
								<span class="huge-span zine-bold-roman black-span">2.
								</span>
							</div>

							<div class="col-md-9 yellow-div">
								<span class="big-span zine-bold-roman black-span">Examine the documents
								</span>
								<br>
								<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget 
								</span>
							</div>
						</div>
						<div class="col-md-1 yellow-div">
						</div>
					</div>	
				</div>
				<div class="col-md-4 yellow-div">
					<img class="how-to-big" src="/img/your_profile_activation.jpg">
					<div class="row">
						<div class="col-md-1 yellow-div">
						</div>
						<div class="col-md-10 dashboard-section  yellow-div row">
							<div class="col-md-3 yellow-div">
								<span class="huge-span zine-bold-roman black-span">3.
								</span>
							</div>
							<div class="col-md-9 yellow-div">
								<span class="big-span zine-bold-roman black-span">Your profile activation
								</span>
								<br>
								<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget 
								</span>
							</div>
						</div>
						<div class="col-md-1 yellow-div">
						</div>
					</div>	
				</div>
			</div>
		</div>	
	</div>
	<div class="col-md-1">
	</div>
</div>