<table  class="table bidders-table table-striped helvetica-neue widget-content">
	<thead>
		<tr>
			<th ng-show="appUser._id !== job.author._id">Author</th>
			<th>Title</th>
			<th>Budget</th>
			<th>Start date</th>
			<th>End date </th>
		</tr>
	</thead>
	<tbody>
	  <tr>
	  	<td ng-show="appUser._id !== job.author._id">
	  		<button class="btn btn-sm btn-black" ng-click="viewProfile(job.author._id)">{{job.author.username}}{{buttonText}}</button>
	  	</td>
	  	<td><span class="small-span">{{job.title}}</span></td>
	    <td>
	    	<span class="small-span">
	    		{{job.budget}}
	    	</span>
    	</td>
    	<td><span class="small-span">{{dateFrom}}</span></td>
	    <td><span class="small-span">{{dateTo}}</span></td>
  
	  </tr>
	</tbody>
</table>
<div ng-show="job.author._id === profile._id"  data-ng-include="'/shared/templates/layout/singleProfile.html'">
</div>
<div class="peach-div">
	<span class="small-span">Category: </span>
	<span>{{job.category}}</span><br>
	<span class="small-span">Subcategory: </span>
	<span>{{job.subcategory}}</span><br><br>
	<div class="clearfix"></div>
	<div class="clearfix"></div>
	<span class="small-span">Description: </span>
	<span>{{job.description}}</span>
</div>