<div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
    <div class="top-hmenu-item-wrapper pull-right">
        <a ui-sref=".createJob">CREATE JOB</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div>

<div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
    <div class="top-hmenu-item-wrapper pull-right">
        <a ui-sref=".yellowPages">YELLOW PAGES</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div>

<div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 text-center">
    <div class="top-hmenu-item-wrapper pull-right">
        <a ui-sref=".craftsmanMenu">CRAFTSMAN</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div>

<div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
<!--     <div class="top-hmenu-item-wrapper pull-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
            <b class="caret"></b>
        </a>
        <div class="top-hmenu-item">
        </div>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
        </ul>
    </div> -->
</div>

<!-- </ul> -->

<!-- <div class="col-md-3 col-sm-3 col-xs-3">
</div>

<div class="col-md-3 col-sm-3 col-xs-3">
    <div class="top-hmenu-item-wrapper pull-right">
        <a ui-sref=".postJob">POST JOB</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div>

<div class="col-md-3 col-sm-3 col-xs-3">
    <div  class="top-hmenu-item-wrapper pull-right">
        <a ui-sref=".yellowPages">YELLOW PAGES</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div>

<div class="col-md-3 col-sm-3 col-xs-3">
    <div  class="top-hmenu-item-wrapper pull-right">
        <a ui-sref="craftsmanMenu">CRAFTSMAN</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div> -->