<div class="shell-content">

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="rn-carousel-container">   
				<div rn-carousel class="t-shirts rn-carousel-slides">
					<img ng-repeat="image in slide.images" style="background-image:url({{ image }});" class="animated fadeInLeft rn-carousel-slide">
			   </div>
			</div>
			
			<div class="underConstruction">
			</div>

			<div class="row dashboard-section">
			  <div class="col-md-4">
				<div class="text-center">
					<img src="/img/post_a_job.jpg"/>
					<br>
					<span class="black-span small-span zine-reg-ital">
						Post a job
					</span> 
					<br>
					<span class="black-span helvetica-neue">
						Discribe your project.
					</span>
					<br>
					<span class="black-span helvetica-neue">
					   What type of work do you need done?
					</span>
				</div>
			  </div>
			  <div class="col-md-4">
				<div class="text-center">
					<img src="/img/compare_prices_and_quality.jpg"/>
					<br>
					<span class="black-span small-span zine-reg-ital">
						Compare prices & quality.
					</span> 
					<br>
					<span class="black-span helvetica-neue">
						Contact the provider. Have a look
					</span>
					<br>
					<span class="black-span helvetica-neue">
					   at their references.
					</span>
				</div>
			  </div> 
			  <div class="col-md-4">
				<div class="text-center">
					<img src="/img/make_your_choice.jpg"/>
					<br>
					<span class="black-span small-span zine-reg-ital">
						Make your choice.
					</span> 
					<br>
					<span class="black-span helvetica-neue">
						Decide which craft producer is
					</span>
					<br>
					<span class="black-span helvetica-neue">
					   the best for your needs.
					</span>
				</div>
			  </div>    
			</div>
			<div class="row dashboard-section">
				<div class="col-md-5">
					<div>
						<span class="other-yellow-span zine-reg-ital big-span"> What is craftia </span>
						<br>
						<br>
						<span class="small-span helvetica-neue">
							A short introduction clip for craftsmen who are looking for jobs.
						</span>
						<br>
						<br>
						<span class="small-span helvetica-neue">
							Have a look at this short movie that explains what craftia is and how craftsman can use this portal for their advantage.
						</span>
					</div>
				</div> 
				<div class="col-md-7">
					<div>
						<img class="pull-left how-to-video" src="/img/how_craftia_works.jpg"/>
					</div>
				</div> 
			</div>

			<div class="row dashboard-section">
				<div class="container col-md-6">
					<div style="float:left">
						<img src="/img/categories.jpg"/> 
					</div>
					<br>
					<br>
						<div>
						<table>
							<tr>
								
								<td class="category-cell row">
									<div class="col-md-4"> 
										<img class="category-img" src="/img/cartwheel.jpg"> 
									</div>
									<div class="col-md-8"> 
										<span class="category-span">Car</span>
									</div>
								</td>

								<td class="category-cell row">
									<div class="col-md-4"> 
										<img class="category-img" src="/img/wrench.jpg">
									</div>
									<div class="col-md-8"> 
										<span class="category-span">Computer and office</span>
									</div>
								</td>
							</tr>
							<tr>
								<td class="category-cell row">
									<div class="col-md-4"> 
										<img class="category-img" src="/img/gardening.jpg">
									</div>                               
									<div class="col-md-8"> 
										<span class="category-span">Crafts and home construction</span>
									</div>    
								</td>
								<td class="category-cell row">
									<div class="col-md-4"> 
										<img class="category-img" src="/img/cartwheel.jpg">
									</div>   
									<div class="col-md-8"> 
										<span class="category-span">Household and gardening</span>
									</div>    
								</td>
							</tr>
							<tr>
								<td class="category-cell row">
									<div class="col-md-4"> 
										<img class="category-img" src="/img/gardening.jpg">
									</div>    
									<div class="col-md-8"> 
										<span class="category-span">Learning and education</span>
									</div>    
								</td>
								<td class="category-cell row">
									<div class="col-md-4"> 
										<img class="category-img" src="/img/cartwheel.jpg">
									</div>
									<div class="col-md-8"> 
										<span class="category-span">Money, tax, legal</span>
									</div>   
								</td>
							</tr>
							<tr>
								<td class="category-cell row">
									<div class="col-md-4"> 
										<img class="category-img" src="/img/gardening.jpg">
									</div>
									<div class="col-md-8"> 
										<span class="category-span">Pet care</span>
									</div>    
								</td>
								<td class="category-cell">
									<div class="col-md-4"> 
										<img class="category-img" src="/img/cartwheel.jpg">
									</div>
									<div class="col-md-8"> 
										<span class="category-span">Photo design, internet</span>
									</div>   
								</td>
							</tr>
							<tr>
								<td class="category-cell row">
									<div class="col-md-4"> 
										<img class="category-img" src="/img/gardening.jpg">
									</div>  
									<div class="col-md-8"> 
										<span class="category-span">Style and welness</span>
									</div>    
								</td>
								<td class="category-cell row">
									<div class="col-md-4"> 
										<img class="category-img" src="/img/cartwheel.jpg">
									</div>
									<div class="col-md-8"> 
										<span class="category-span">Support and care</span>

								</td>
							</tr>
						</table>

						<span class="yellow-button"> show all categories</span>
					   </div>
				</div> 
				<div class="col-md-6">
					<div>
						<span class="pull-left">
							<img src="/img/categories.jpg"/>
						</span>
					</div>
				</div> 
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
