<div class="col-md-12 col-sm-12 col-xs-12 envelope-container">
    <div class="pull-right craftia-nav-envelope">
        <div class="rect"></div>
        <div class="leftbtr"></div>
        <div class="rightbtr"></div>
        <div class="userland-login-btn">
            <a ui-sref="anon.register"> 
                <span class="register-text yellow-span medium-span">REGISTER</span>
            </a> 
            <br>
            <a ui-sref="anon.login">
                <span class="login-text yellow-span medium-span">LOGIN</span>
            </a>   
        </div> 
    </div>
</div>