<div class="col-md-1 col-sm-1 col-xs-1"></div>
<div class="col-md-1 col-sm-1 col-xs-1"></div>
<div class="col-md-1 col-sm-1 col-xs-1"></div>

<!-- <div class="col-md-1 col-sm-1 col-xs-1"></div> -->

<div class="col-md-1 col-sm-1 col-xs-1 hmenu-item-spacing">
    <div  class="top-hmenu-item-wrapper pull-right">
        <a ui-sref=".messages">MESSAGES</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div>

<div class="col-md-1 col-sm-1 col-xs-1 hmenu-item-spacing">
    <div  class="top-hmenu-item-wrapper pull-right">
        <a ui-sref=".notifications">NOTIFICATIONS</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div>

<div class="col-md-1 col-sm-1 col-xs-1 hmenu-item-spacing">
    <div  class="top-hmenu-item-wrapper pull-right">
        <a ui-sref=".findJobs">FIND JOBS</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div>

<div class="col-md-1 col-sm-1 col-xs-1 hmenu-item-spacing">
    <div  class="top-hmenu-item-wrapper pull-right">
        <a ui-sref=".jobs">MY JOBS</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div>

<div class="col-md-1 col-sm-1 col-xs-1 hmenu-item-spacing">
    <div  class="top-hmenu-item-wrapper pull-right">
        <a ui-sref=".jobs">YELLOW PAGES</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div>

<div class="col-md-1 col-sm-1 col-xs-1 hmenu-item-spacing">
    <div  class="top-hmenu-item-wrapper pull-right">
        <a ui-sref=".jobs">HOW TO</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div>

<div class="col-md-1 col-sm-1 col-xs-1 hmenu-item-spacing">
    <div  class="top-hmenu-item-wrapper pull-right">
        <a ui-sref=".jobs">REQUIREMENTS</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div>

<div class="col-md-1 col-sm-1 col-xs-1 hmenu-item-spacing">
    <div  class="top-hmenu-item-wrapper pull-right">
        <a ui-sref=".jobs">PRICES</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div>
