<div class="col-md-12 col-xs-12 col-sm-12 submenu">
  <div class="row col-md-12 top-menu">
        <div class="col-md-3 col-xs-3 col-sm-3">
            <div class="pull-right top-hmenu-item-wrapper craftia-nav-envelope"> 
                <div class="rect"></div>
                <div class="leftupbtr"></div>
                <div class="rightupbtr"></div>
                <a ui-sref="anon.howto">HOW TO</a>
            </div>
        </div>
        
        <div class="col-md-3 col-xs-3 col-sm-3">
            <div  class="pull-right top-hmenu-item-wrapper craftia-nav-envelope">
                <div class="rect"></div>
                <div class="leftupbtr"></div>
                <div class="rightupbtr"></div>
                <a ui-sref="anon.requirements">REQUIREMENTS</a>
            </div>
        </div>
        
        <div class="col-md-3 col-xs-3 col-sm-3">
            <div class="pull-right top-hmenu-item-wrapper craftia-nav-envelope"> 
                <div class="rect"></div>
                <div class="leftupbtr"></div>
                <div class="rightupbtr"></div>
                <a ui-sref="anon.findJobs">FIND JOBS</a>
            </div>
        </div>

        <div class="col-md-3 col-xs-3 col-sm-3">
            <div  class="pull-right top-hmenu-item-wrapper craftia-nav-envelope"> 
                <div class="rect"></div>
                <div class="leftupbtr"></div>
                <div class="rightupbtr"></div>
                <a ui-sref="anon.prices">PRICES</a>
            </div>
        </div>    
    </div> 
</div>