<ul class="nav navbar-nav">
    <li class="active"><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Nav header</li>
        <li><a href="#">Separated link</a></li>
        <li><a href="#">One more separated link</a></li>
      </ul>
    </li>
</ul>

<!-- <div class="col-md-1 col-sm-1 col-xs-1"></div>
<div class="col-md-1 col-sm-1 col-xs-1"></div>
<div class="col-md-1 col-sm-1 col-xs-1"></div>

<div class="col-md-1 col-sm-1 col-xs-1"></div>

<div class="col-md-1 col-sm-1 col-xs-1 hmenu-item-spacing">
    <div  class="top-hmenu-item-wrapper pull-right">
        <a ui-sref=".messages">MESSAGES</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div>

<div class="col-md-1 col-sm-1 col-xs-1 hmenu-item-spacing">
    <div  class="top-hmenu-item-wrapper pull-right">
        <a ui-sref=".notifications">NOTIFICATIONS</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div>

<div class="col-md-1 col-sm-1 col-xs-1 hmenu-item-spacing">
    <div  class="top-hmenu-item-wrapper pull-right">
        <a ui-sref=".findJobs">FIND JOBS</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div>

<div class="col-md-1 col-sm-1 col-xs-1 hmenu-item-spacing">
    <div  class="top-hmenu-item-wrapper pull-right">
        <a ui-sref=".jobs">MY JOBS</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div>

<div class="col-md-1 col-sm-1 col-xs-1 hmenu-item-spacing">
    <div  class="top-hmenu-item-wrapper pull-right">
        <a ui-sref=".jobs">YELLOW PAGES</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div>

<div class="col-md-1 col-sm-1 col-xs-1 hmenu-item-spacing">
    <div  class="top-hmenu-item-wrapper pull-right">
        <a ui-sref=".jobs">HOW TO</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div>

<div class="col-md-1 col-sm-1 col-xs-1 hmenu-item-spacing">
    <div  class="top-hmenu-item-wrapper pull-right">
        <a ui-sref=".jobs">REQUIREMENTS</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div>

<div class="col-md-1 col-sm-1 col-xs-1 hmenu-item-spacing">
    <div  class="top-hmenu-item-wrapper pull-right">
        <a ui-sref=".jobs">PRICES</a>
        <div class="top-hmenu-item">
        </div>
    </div>
</div> -->