<div class="col-md-12 col-sm-12 col-xs-12 envelope-container">
    <div class="pull-right craftia-nav-envelope" >
        <div class="rect"></div>
        <div class="leftbtr"></div>
        <div class="rightbtr"></div>
        <div class="userland-profile-btn">
            <i class="glyphicon glyphicon-user userland-icon" ui-sref=".profile"></i>
            <span class="userland-name">{{user.username}}</span>
            <br>
            <div class="row userland-mail-btn">
                <a ui-sref=".messages">
                    <i class="glyphicon glyphicon-envelope userland-mail-icon"></i>
                    <span class="userland-mail-count1">
                        {{user.notifications.length}} new
                    </span>
                    <span class="userland-mail-count2">
                        messages
                    </span>
                    <br>
                </a>
                <a href="#">
                    <span class="logout-icon" ng-click="user.logout()">
                        <i class="glyphicon glyphicon-log-out"></i>
                    </span> 
                    <span class="logout-span" ng-click="user.logout()">
                        Log out
                    </span>   
                </a>
            </div>
        </div>
    </div>
</div>