<div class="find-jobs-menu">
	<div class="menu-row row">
		<div class="col-md-1 col-sm-1">
		</div>
		<div class="col-md-10 col-sm-10 row">
			<div class="col-md-6 ">

			</div>
			<div class="col-md-6 row col-sm-12">
				<div ng-class="{graydiv : jobStatus != 'open'}" class="text-center white-div col-md-3 col-sm-3">
					<a ng-click="getPage(currentPage, 'open')">
						OPEN
					</a>
				</div>
				<div class="col-md-1 col-sm-1">
				</div>
				<div ng-class="{graydiv : jobStatus != 'finished'}" class="text-center white-div col-sm-4 col-md-4" >
					<a ng-click="getPage(currentPage, 'finished')">
						CLOSED
					</a>
				</div>
				<div class="col-md-1 col-sm-1">
				</div>
				<div ng-class="{graydiv : jobStatus != 'all'}" class="text-center white-div col-md-3 col-sm-3" >
					<a ng-click="getPage(currentPage, 'all')">
						ALL
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-1">
		</div>
	</div>
</div>


<div class="col-md-1 col-sm-1 col-lg-1">
</div>


<div class="col-md-10 col-sm-10 col-lg-10">
	<br>
	<p style="border-top: 1px dashed #ccc;"></p>
	<br>

	<div id="{{$index}}" data-ng-repeat="job in filteredJobs">

		<div class="row" style="clear:both;margin-top:10px">
			<div class="col-md-12 col-sm-12 col-lg-12">
				<table class="table helvetica-neue widget-content ">
				<tbody class="height: 30%">
				  <tr>
				    <td rowspan="4" colspan="2" class="borderless yellow-tblock" style="border-right: 3px solid white; width: 30%;">
				    	<div class="text-center"> 
				    		<img class="img-thumbnail" style="max-height: 50%; max-width: 50%" ng-src="img/cats/{{categoryPictures[job.category]}}"/>
								<p class="bold-span" style="height: 30%">
									{{job.category.toUpperCase()}} / {{job.subcategory.toUpperCase()}}
								</p>
				    	</div>
				    </td>
				  </tr>

				  <tr>
				    <td class="borderless yellow-tblock text-center bottom-2-dashed" colspan="4">
				    	<span class="medium-span helvetica-neue">
				     		{{job.title}}
				    	</span>
				    </td>

				    <td class="bottom-2-dashed borderless yellow-tblock">
				    </td>

				    <td class="bottom-2-dashed borderless yellow-tblock">
				    </td>

				    <td class="bottom-2-dashed borderless yellow-tblock">
				    </td>

				    <td class="bottom-2-dashed borderless yellow-tblock">
				    	
				    </td>
				  </tr>

				  <tr>
				    <td class="borderless yellow-tblock text-center" colspan="4">
				    	<span class="black-div white-span helvetica-neue bold-span padding-4x" cr-date="{{job.dateFrom}}">
				    	</span>
				    	<span class="peach-div bold-span helvetica-neue padding-4x" cr-date="{{job.dateTo}}">
				    	</span>
				    </td>

				    <td colspan="4" rowspan="2" class="borderless yellow-tblock left-2-dashed">

							<table ng-show="job.status==='open' && job.bidders.length >0 " class="table bidders-table table-striped helvetica-neue widget-content">
								<thead>
									<tr>
										<th>Username</th>
										<th>Name</th>
										<th>Surname</th>
										<th>Average rating</th>
										<th>Send message </th>
										<th ng-show="job.status==='open'">Pick winner </th>
									</tr>
								</thead>
								<tbody>
								  <tr ng-repeat="bidder in job.bidders">
								  	<td>{{bidder.username}}</td>
								    <td>{{bidder.name}}</td>
								    <td>{{bidder.surname}}</td>
								    <td>
								    	<button ng-click="viewRatings(bidder._id, job)" class="btn btn-white">
									    	<div style="text-align:left" class="user-rating-box rating-stars">
			 										<rating ng-show="bidder._id !== tempBidder._id" readonly="true" value="bidder.rating.avgRate"></rating>
			 										<span ng-show="bidder._id === tempBidder._id" class="black-span">Hide ratings</span>
												</div>
											</button>
								    </td>
								    <td>
								    	<button class="btn btn-black" ng-click="sendMessage(bidder.username)" >
								    		 Send message
							    		</button>
								    </td>
								    <td>
								    	<button ng-show="job.status==='open'" class="btn btn-black" ng-click="pickWinner(bidder, job)" >
								    		 Accept
							    		</button>
								    </td>
								  </tr>
								</tbody>
							</table>
							<span class="bold-span" ng-show="job.status==='open' && job.bidders.length === 0">
								No bidders yet.
							</span>
							<span class="bold-span" ng-show="job.status==='open' && job.bidders.length === 0 && job.jobPhotos.length === 0">
								Try uploading some photos to make your offer more interesting.
							</span>
				    </td>
				  </tr>
				  
				  <tr>
				    <td class="borderless yellow-tblock text-center" colspan="4">
				    	<i ng-click="showMap($index)" class="fa fa-map-marker map-marker-3x fa-3x"></i>
				    	<span class="bold-span">{{job.address.city.name}}, {{job.address.line1}}</span>
				    </td>
				  </tr>
				</tbody>
				</table>
			</div>
		</div>

		<div id="gmaps-div-{{$index}}" style="height:250px; display: none" class="peach-div row">
		</div>

		<div id="rating-div-{{$index}}" style="display: none" class="peach-div row">
			<label class="medium-span" for="rating" ng-if="job.status != 'finished'">
				This job has not finished yet!
			</label>
			<form ng-if="job.status == 'finished'" class="form" ng-submit="rateJob(job)">
				<textarea ng-readonly="job.isRated" ng-model="job.rate.comment" rows="10">
				</textarea>
				<div class="form-group">
					<label class="medium-span" for="rating" >Rate
					</label>
					<rating value="job.rate.mark" max="5" readonly="job.isRated" on-hover="hoveringOver(value)" on-leave="overStar = null"
					state-on="'fa fa-star fa-3x'" state-off="'fa fa-star-o fa-3x'">
					</rating>
				</div>
				<input ng-if="!job.isRated" class="btn btn-black btn-lg" type="submit" value="Rate this job"/>
			</form>
		</div>

		<div id="pics-div-{{$index}}" style="display: none" class="peach-div row">
			<lightbox images="job.jobPhotos"></lightbox>			
		</div>
		
		<div id="info-div-{{$index}}" style="display: none" class="peach-div row">
			<table class="table bidders-table table-striped helvetica-neue widget-content">
					<thead>
						<tr>
							<th>Start date</th>
							<th>End date </th>
							<th>Material supplier</th>
							<th>Budget</th>
							<th>Address</th>
							<th ng-show="job.status==='open'">Edit</th>
						</tr>
					</thead>
					<tbody>
					  <tr>
					  	<td>
						    <span class="black-div white-span helvetica-neue bold-span padding-4x" cr-date="{{job.dateFrom}}">
					    	</span>
				    	</td>
				    	<td>
					    	<span class="peach-div bold-span helvetica-neue padding-4x" cr-date="{{job.dateTo}}">
					    	</span>
				    	</td>
					    <td>
					    	<span ng-show="tempJob.status!=='open'" placeholder="{{tempJob.materialProvider}}"> {{tempJob.materialProvider}}
                </span>
				    		<select ng-hide="tempJob.status!=='open'" ng-model="tempJob.materialProvider" placeholder="{{tempJob.materialProvider}}" ng-disabled="$index!==editIndex" id="selectbasic" name="selectbasic" class="form-control"  required="true">
                  <option ng-selected="selected" value="Customer">Customer</option>
                  <option value="Craftsman">Craftsman</option>
                </select>
              </td>
					    <td>
					    	<span ng-show="tempJob.status!=='open'" placeholder="{{tempJob.budget}}"> {{tempJob.budget}}
                </span>
					    	<input ng-hide="tempJob.status!=='open'" ng-model="tempJob.budget" ng-disabled="$index!==editIndex" id="appendedtext" name="appendedtext" class="form-control" placeholder="tempJob.budget" type="text" required="true">
				    	</td>
					    <td>
					    	<span ng-show="tempJob.status!=='open'" placeholder="{{tempJob.address.line1}}"> {{tempJob.address.line1}}
                </span>
                <input ng-hide="tempJob.status!=='open'" ng-model="tempJob.address.line1" ng-disabled="$index!==editIndex"  id="textinput" name="textinput" type="text" placeholder="{{tempJob.address.line1}}" class="form-control input-md"  required="true">
							</td>
					    <td>
					    	<button class="btn btn-black" ng-show="tempJob.status === 'open' && $index !== editIndex" ng-click="editJob($index)" >
					    		 Edit job
				    		</button>
				    		<button class="btn btn-black" ng-show="tempJob.status === 'open' && $index === editIndex" ng-click="saveJob($index)" >
					    		 Save job
				    		</button>
					    </td>
					  </tr>
					</tbody>
					</table>			
		</div>
		<div class="peach-div fluid-container">
			<ul class="example-animate-container">
	    	<li class="animate-repeat" ng-repeat="rating in ratings">
		      <div>
						<div style="text-align:left" class="user-rating-box rating-stars">
								<span>Mark: </span>
								<rating readonly="true" value="rating.mark"></rating>
								<button class="btn btn-black" ng-show="rating.job !== biddersJob._id" ng-click="viewJob(rating.job)"> View job</button>
								<button class="btn btn-black" ng-show="rating.job === biddersJob._id" ng-click="hideJob(rating.job)"> Hide job</button>
						</div>
						<span>Comment: </span><br>
						<span>{{rating.comment}}</span>
					</div>
					<div class="clearfix"></div>
					<div  ng-show="rating.job === biddersJob._id"  data-ng-include="'/shared/templates/layout/singleJob.html'">
					</div>
		    </li>
	  	</ul>
		</div> 
		<div class="job-buttons peach-div row">
			<a ng-if="job.winner != undefined" class="job-button col-md-3 col-sm-3 hover-glow-white text-center" ng-click="showRating($index)">
				<i class="fa fa-star fa-2x"></i>
				<span class="small-span">
					Rate job
				</span>
			</a>
			<a ng-click="showPics($index)"  class="job-button col-md-3 col-sm-3 hover-glow-white text-center">
				<i class="fa fa-mail-forward fa-2x"></i>
				<span class="small-span">
					View photos
				</span>
			</a>
			<a ng-click="showInfo($index)" class="job-button col-md-3 col-sm-3 hover-glow-white text-center">
				<i  class="fa fa-info fa-2x"></i>
				<span class="small-span">
					More info
				</span>
			</a>
		</div>
	</div>

</div>

<!-- 	<div class="clearfix"></div>
	<pagination class="pagination-sm" boundary-links="true" max-size="3" items-per-page="sizePerPage" total-items="appUser.createdJobs.length - 1" on-select-page="pageSelected" page="currentPage" rotate="false"></pagination>
	<div class="clearfix"></div>
 -->
</div>
<div class="col-md-1 col-sm-1 col-lg-1">	
</div>
