<div class="upper-footer row">
	<div class="col-md-1">
	</div>
	<div class="col-md-10">
		<div class="col-md-4 footer-div">
			<div>
				<span class="footer-yellow-small">
					Any qustions? 
				</span>
				<span class="footer-white-small">
					Just call us:
				</span>
				<br>
				<span class="footer-white-large">
					+381 / 344 223 0
				</span>
				<br>
				<span class="footer-yellow-small">
					available Mo.-Fr. 9-18h
				</span>			
			</div>
		</div>
		<div class="col-md-4 footer-div">
			<div>
				<span class="footer-yellow-small">
					Or just  
				</span>
				<span class="footer-white-small">
					write an email: info@craftia.com
				</span>
				<br>
				<span class="footer-yellow-large">
					Contact
				</span>
				<span class="footer-white-large">
					formular
				</span>
				<br>
				<span class="footer-yellow-small">
					Find most of the answers in our
				</span>			
				<span class="footer-white-small">
					FAQ
				</span>	
			</div>
		</div>
		<div class="col-md-4 footer-div">
			<img class="pull-right footer-img" src="/img/shares.jpg">
		</div>
	</div>
	<div class="col-md-1">
	</div>
</div>

