<div class="col-md-1 col-lg-1 col-sm-1"></div>
<div class="col-md-10 col-lg-10 col-sm-10 text-center">
	<section id="howto-view">
		<div class="row">
			<img class="how-to-big" src="/img/howto_big.jpg">
			<div class="dashboard-section text-center">
				<span class="black-span big-span zine-reg-ital" >
					Represent your business via internet & get more JOBS.
				</span>
				<span class="other-yellow-span big-span zine-reg-ital" >
					See how it works!
				</span>
			</div>
			<div class="dashboard-section row">
				<div class="col-md-4">
					<img class="sketch" src="/img/no1.jpg">
				</div>
				<div class="col-md-4">
					<img class="letter" src="/img/letter.jpg">
				</div>
				<div class="col-md-4 text-center text-middle">
					<span class="black-span big-span zine-reg-ital" >
						Find profitable jobs
					</span> 
					<br>
					<span class="black-span big-span zine-reg-ital" >
						jobs
					</span>
					<span class="other-yellow-span big-span zine-bold-roman" >
					easily.
				</span>
				</div>
			</div>

			<div class="dashboard-section row">
				<div class="col-md-4">
					<img class="sketch" src="/img/no2.jpg">
				</div>
				
				<div class="col-md-4 text-center text-middle">
					<span class="black-span big-span zine-reg-ital" >
						Clients will find &
					</span> 
					<br>
					<span class="black-span big-span zine-reg-ital" >
						contact
					</span>
					<span class="other-yellow-span big-span zine-bold-roman" >
						you.
				</span>
				</div>

				<div class="col-md-4">
					<img class="letter" src="/img/letter.jpg">
				</div>
			</div>

			<div class="dashboard-section row">
				<div class="col-md-4">
					<img class="sketch" src="/img/no3.jpg">
				</div>
				
				<div class="col-md-4">
					<img class="letter" src="/img/letter.jpg">
				</div>

				<div class="col-md-4 text-center text-middle">
					<span class="black-span big-span zine-reg-ital" >
						The clients promote
					</span> 
					<br>
					<span class="black-span big-span zine-reg-ital" >
						your
					</span>
					<span class="other-yellow-span big-span zine-bold-roman" >
						company.
				</span>
				</div>
			</div>

			<div>
				<div class="col-md-4">
				</div>
				<div class="col-md-4 big-button yellow-button text-center">
					SIGN IN
				</div>
				<div class="col-md-4">
				</div>
			</div>
		</div>
	</section>
</div>
<div class="col-md-1 col-lg-1 col-sm-1"></div>