<div class="visible-sm visible-md visible-lg">
	<nav class="navbar navbar-default" role="navigation">
		<div class="row yellow-div">
			<div class="col-md-1 col-sm-1 col-xs-1">
			</div>
			<div class="col-md-10 col-sm-10 col-xs-10 row">
				<div class="col-sm-6 col-md-6 col-xs-6">
					<div class="row col-sm-12">
						<div class="col-md-3 col-sm-3 col-xs-3">
							   <a ui-sref="{{appUser.getType}}">
								<img class="craftia-logo " src="img/logo3.png"/>
								</a>
								<br>
								<a ui-sref=".">
									<span class="black-span logo-span vegur-regular sub-logo">Craftsmen portal!
									</span>
								</a>
						</div>
					</div>
				</div>

					<div ui-view="navbar" class="col-md-6 col-sm-6 col-xs-6">
						<br>
						<br>
					</div>

					<div class="row col-sm-12 col-xs-12 col-md-12" id="navMenu" cc-navigation ui-view="navmenu">
					</div>
					
					<div ui-view="navSubMenu"  class="shellic"></div>
			</div>

			<div class="yellow-div col-md-1 col-sm-1 col-xs-1">
			</div>
		</div>
	</nav>
</div>

