<div class="row">
	<div class="col-md-1 col-sm-1 col-lg-1">
	</div>  
		<div class="col-md-10 col-sm-10 col-lg-10">
		<table class="table table-condensed helvetica-neue widget-content">
		 <colgroup>
		    <col></col>
		    <col></col>
		    <col span="1" class="info"></col>
		    <col span="1" class="success"></col>
		</colgroup>	
		<thead>
			<tr>
				<th colspan="1">Date sent</th>
				<th col span="1">From</th>
				<th col span="1">Subject</th>
				<th col span="1">Message</th>
				<th col span="1">Reply</th>
			</tr>
		</thead>
		<tbody>
		  <tr ng-repeat="msg in filteredMessages">
		    <td col span="1" cr-date="{{msg.dateSent}}"></td>
		    <td col span="1">{{msg.author.username}}</td>
		    <td col span="1">{{msg.subject}}</td>
		    <td col span="1">{{msg.message}}</td>
		    <td>
		    	<button class="btn btn-success" ng-click="newMessage(msg.author.username, $index)" >
		    		 Send message
	    		</button>
		    </td>
		  </tr>
		</tbody>
		</table>
	</div>
	<div class="col-md-1 col-sm-1 col-lg-1">
	</div>  
</div> 