<div class="yellow-pages-menu">
	<div class="menu-row row">
		<div class="col-md-1 col-sm-1 col-lg-1">
		</div>
		<div class="col-md-10 col-sm-10 col-lg-10 row">
			<div class="col-sm-12 col-md-6 row">
				<div class="col-md-3 col-sm-3">
					<span class="small-span bold-span yellow-span">
						CITY
					</span>
					<select class="menu-select" data-ng-model="jobCitySearch" data-ng-options="city as city.name for city in cities">
					</select>
				</div>
				<div class="col-md-2 col-sm-2">
					<span class="small-span bold-span yellow-span">
						DISTANCE
					</span>
					<input class="menu-input" data-ng-model="jobDistanceSearch"
					data-ng-keyup="search($event)"
					placeholder="search by distance...">
				</div>    
				<div class="col-md-1 col-sm-1">
				</div>  
				<div class="col-md-6 col-sm-6">
					<span class="small-span bold-span yellow-span">
						CATEGORY
					</span>
					<select ng-change="attachSubcategories2(selectedCategory);" class="menu-select" data-ng-model="selectedCategory" data-ng-options="cat as cat.name for cat in categories">
					</select>
				</div>
			</div>    
			<div class="col-sm-6">
			</div>
			<div class="col-sm-6 col-md-6 row">
				<div class="col-md-6 col-sm-12">
					<span class="small-span bold-span yellow-span">
						SUBCATEGORY
					</span>
					<select class="menu-select" data-ng-model="selectedSubcategory" data-ng-options="subcat as subcat.name for subcat in subcategories" type="text" placeholder="subcategory">
					</select>
				</div>
				<div class="col-md-6 col-sm-12">
					<span class="small-span bold-span yellow-span">
						SEARCH
					</span>
					<input class="menu-input" type="text" placeholder="serach">
				</div>
			</div>    
		</div>
		<div class="col-md-1 col-sm-1 col-lg-1">
		</div>
	</div>
</div>
<div id="{{$index}}" data-ng-repeat="craftsman in filteredCraftsmen">
	<div class="row" style="clear:both;margin-top:10px">
		<div class="col-md-2 col-sm-2 col-lg-2">
		</div>
		<div class="col-md-8 col-sm-8 col-lg-8">
			<table class="table helvetica-neue widget-content ">
			<tbody class="height: 30%">
			  <tr>
			    <td rowspan="4" colspan="2" class="borderless yellow-tblock" style="border-right: 3px solid white; width: 30%;">
			    	<div class="text-center"> 
			    		<img  class="img-thumbnail" style="max-height: 50%; max-width: 50%"  ng-src="img/default_user.jpg" src="img/default_user.jpg">
							<p class="bold-span" style="height: 30%">
								CRAFTSMAN'S CATEGORIES:
							</p>
			    	</div>
			    </td>
			  </tr>

			  <tr>
			    <td class="borderless yellow-tblock text-center bottom-2-dashed" colspan="4">
			    	{{craftsman.name}} {{craftsman.surname}}
			    </td>

			    <td class="bottom-2-dashed borderless yellow-tblock" colspan="4">
		    		<p class="bold-span" style="height: 30%">
							CRAFTSMAN'S RATING: 
							<span class="rating-stars">
	                <rating data-toggle="tooltip" title="{{craftsman.rating.avgRate}}" readonly="true" value="craftsman.rating.avgRate"></rating>
	            </span>
						</p>

			    </td>

			 
			  </tr>

			  <tr>
			    <td class="borderless yellow-tblock text-center" colspan="4">
			    	<span class="black-div white-span helvetica-neue bold-span padding-4x" cr-date="{{job.dateFrom}}">
			    	</span>
			    	<span class="peach-div bold-span helvetica-neue padding-4x" cr-date="{{job.dateTo}}">
			    	</span>
			    </td>

			    <td colspan="4" rowspan="2" class="borderless yellow-tblock left-2-dashed">
					<table class="table bidders-table table-striped helvetica-neue widget-content">
					<thead>
						<tr>
							<th>Username</th>
							<th>Name</th>
							<th>Surname</th>
							<th>Rating</th>
						</tr>
					</thead>
					<tbody>
					  <tr ng-repeat="bidder in job.bidders">
					  	<td>{{bidder.username}}</td>
					    <td>{{bidder.name}}</td>
					    <td>{{bidder.surname}}</td>
					    <td>{{bidder.rating.avgRate}}</td>
					  </tr>
					</tbody>
					</table>
			    </td>
			  </tr>
			  
			  <tr>
			    <td class="borderless yellow-tblock text-center" colspan="4">
			    	<i ng-click="showMap(job, $index)" class="fa fa-map-marker map-marker-3x fa-3x"></i>
			    	<span class="bold-span">{{job.address.city}}</span>
			    </td>
			  </tr>
			</tbody>
			</table>
		</div>
		<div class="col-md-2 col-sm-2 col-lg-2">
		</div>
	</div>
</div>
<div class="row text-center">
		<div class="clearfix"></div>
			<pagination class="pagination-sm" boundary-links="true" max-size="3" items-per-page="sizePerPage" total-items="totalCraftsmen - 1" on-select-page="pageSelected" page="currentPage" rotate="false">
			</pagination>
		<div class="clearfix"></div>
</div>