body {
  overflow-x: hidden;
  font-family: Sans-Serif !important;
}

html, body {height: 100% !important;}

ul {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Minion-pro";
  src: url("../fonts/MinionPro-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Zine-reg-ital";
  src: url("../fonts/ZineSerifDis-RegularItalic.otf") format("truetype");
}

@font-face {
  font-family: "Zine-bold-roman";
  src: url("../fonts/ZineSerifDis-BoldRoman.otf") format("truetype");
}

@font-face {
font-family: "Zine-medium-roman";
src: url("../fonts/ZineSerifDis-MediumRoman.otf") format("truetype");
}

@font-face {
font-family: "vegur-regular";
src: url("../fonts/Vegur-Regular.otf") format("truetype");
}

.profile-details-widget {
  width: 100%;
  display: block;
  margin-bottom: 50px;
}

.profile-details-widget {margin: 0 auto;}

.profile-details-widget input {
  float: right;
  clear: both;
}

.right-partial-view {
  width: 100%;
  display: block;
}

.right-partial-view label {
  width: 30% !important;
  text-align: left !important;
}

.right-partial-view input, textarea, select {
  float: right;
  clear: both;
  width: 100% !important;
}

span.stars, span.stars span {
  display: block;
  background: url(../img/stars.png) 0 -16px repeat-x;
  width: 80px;
  height: 16px;
}

span.stars span {background-position: 0 0;}

.inline-float {display: inline-block;}

.inline-float ul:first-child {
  float: left;
  clear: both;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.jobDetail {
  /*background-color: #ddf2ed;*/
  width: 100%;
}

.job-details .jobDetail > span {
  border-bottom: 2px solid #5B706B;
}

.job-details {
  padding: 5px;
  background-color: #eeeeee;
}

.my-job-detail {
  padding-left: 15px;
  padding-right: 50px;
  float: left;
  width: 90px;
}

.my-message-detail {
  float: left;
  width: 90px;
}

.job-cancel {
  width: auto;
  height: auto;
  max-height: 46px;
}

.count-icon {
  display: inline-block;
  position: relative;
  padding-left: 15px;
}

.custom-icon:hover {
  color: #00273E;
  font-weight: bolder;
  cursor: pointer;
}

.custom-icon {
  padding-left: 5px;
  color: #31708f;
}

.cancel-icon:hover {
  color: #fff;
  cursor: pointer;
}

.count {
  position: absolute;
  top: 0;
  right: 0;
  height: 16px;
  width: 16px;
  background: #f13934;
  border-radius: 8px;
  font-size: 13px;
  text-align: center;
  color: #fff;
}

.my-job {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid transparent;
}

.my-job:hover {border: 2px solid #edb915;}

.my-offer {
/*  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px !important;
  padding-right: 5px !important;*/
  border: 2px solid transparent;
  margin-bottom: 5px;
  margin-top: 20px;
}

.my-offer:hover {
  border: 2px solid black;
}

.boxclose {
  float: right;
  cursor: pointer;
  color: #fff;
  border: 2px solid transparent;
  background: #FF5757;
  font-size: 37px;
  display: inline-block;
  line-height: 15px;
  padding: 10px;
  height: 40px;
  color: #fff;
  width: 55px;
  text-align: center;
}

.boxclose:hover {background: #E00000; font-size: 38px;}

.boxbookmark:hover {
  color: #edb915;
}

.boxbookmark {
  color: white;
}

.profile-picture {
  width: 180px;
  margin: 0 auto;
}

.profile-picture img {
  max-height: 20%;
  margin: 0 auto;
}

.upload-picture-form {
  text-align: center;
}

.user-rating-box {
  text-align: center;
}

.widget-ul-list ul {
  padding: 5px;
}

.widget-ul-list ul > li {
  padding: 5px;
}

.widget-content {
  padding: 0px;
}

.widget-foot {
  text-align: center;
}

.no-border::before {
  border: 0px;
}

.job-photo-holder { border: 3px dashed #ccc; padding-right: 2px; height: 80px; width: 22%; display: inline-block;}
.job-photo-holder .hover { border: 10px dashed #edb915; }
.job-photo-holder img { display: block; width: 100%; height: 80px; padding: 10px;}
.job-photo-holder p { margin: 10px; font-size: 14px; }

.job-photo-progress { width: 100%; }
.job-photo-progress:after { content: '%'; }

.job-photo-upload-fail { background: #c00; padding: 2px; color: #fff; }
.job-photo-holder .hidden { display: none !important;}

.job-photo-upload-form {
  text-align:center;
}

.job-photo-holder:hover {
  border-color: navy;
}

.craftia-map {
  height: 300px !important;
}

.job-photo-gallery {
}

.job-photo-gallery .job-photo {
  width: 100px;
  text-align: center;
  margin: 0 auto;
}

.job-photo-gallery .job-photo img {
  width: 100px;
  height: 100px;
}

.underConstruction{
  background-position: 0 0;
  background-repeat: repeat-x;
  background-image: url("../img/underConstruction.png");
  height: 22px;
  width:100%;
  overflow: hidden;
}

.t-shirts {
  max-height: 675px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.t-shirts img {
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  position: relative;
}

.navbar {
  position: relative;
  margin-bottom: 0px;
  background: transparent;
  min-height: 0;
}

body {
  padding: 6px;
  height: 100%;
  width: 100%;
  position: absolute;
}

.body-slammer {
  box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.74);
  height: 100%;
  overflow: auto;
}

.craftia-collapse {
  max-height: 340px;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}

.expanded-message {
  display: none;
}


.craftia-nav {
  display: inline;
  position: relative;
  right: 80px;
}

.craftia-nav-envelope {
  position: relative;
  display: block;
  width: 150px;
  height: 95px;
}

.craftia-nav-envelope .rect {
  border: 4px;
  position:absolute;
  height: inherit;
  width: inherit;
  background: black;
  display: block;
}

.craftia-nav-envelope .leftbtr {
  position:absolute;
  width: 0px;
  height: 0px;
  bottom: 0px;
  border-style: solid;
  border-width: 20px 0 0 20px;
  border-color: transparent transparent transparent #edb915;
}

.craftia-nav-envelope .rightbtr {
  position:absolute;
  width: 0px;
  height: 0px;
  right: 0px;
  bottom: 0px;
  border-style: solid;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent #edb915 transparent;
}

.craftia-nav-envelope .leftupbtr {
  position:absolute;
  width: 0px;
  height: 0px;
  bottom: 20px;
  border-style: solid;
  border-width:  0 0 20px 20px ;
  border-color:  transparent transparent  transparent #edb915;
}

.craftia-nav-envelope .rightupbtr {
  position:absolute;
  width: 0px;
  height: 0px;
  right: 0px;
  bottom: 20px;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #edb915 transparent transparent ;
}

.craftia-nav-envelope a {
  color: #edb915 !important;
}

.craftia-nav-envelope .login-text {
  position: absolute;
  color: #edb915;
  bottom: 4px;
  font-size: 1.5em;
  font-weight: 680;
  left: 0;
  right: 0;
  text-align: center;
  margin: 10% 10%;
}

.craftia-nav-envelope .userland-profile-btn {
  position: relative;
  font-size: 1.5em;
  padding-left: 40px;
  width: 100%;
  float: left;
  clear: both;
}

.craftia-nav-envelope .userland-icon {
  position: relative;
  color: #edb915;
  bottom: 4px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  line-height: 2;
  text-decoration: underline;
}

.userland-icon:hover {
  text-decoration: underline;
}

.craftia-nav-envelope .userland-name {
  position: relative;
  color: #edb915;
  font-size: 0.5em;
  margin-left: 5px;
  cursor: pointer;
  bottom: 0.2em;
}

.userland-name:hover {
}

.craftia-nav-envelope .userland-mail-btn {
  left: 0px;
  position: relative;
  clear: both;
  /*padding: 5px;*/

/*  position: relative;
  font-size: 2.5em;
  margin-left: 20px;*/
/*  border-top: 3px solid rgb(251, 255, 200);
  border-left: 0px sPlid rgb(251, 255, 200);
  border-radius: 11px;*/
  /*padding: 5px;*/
}

.craftia-nav-envelope .userland-mail-icon {
  position: absolute;
  color: #edb915;
  cursor: pointer;
  /*bottom: 4px;*/
  /*left: 0;*/
  /*right: 0;*/
  /*text-align: center;*/
  /*margin: 0 auto;*/
  /*line-height: 2;*/
}

.craftia-nav-envelope .userland-mail-count1 {
  color: rgba(255, 255, 255, 1);
  font-size: 0.6em;
  position: relative;
  bottom : 0.7em;
  left :  31px;
  text-align: center;
  z-index: 2;
  clear: both;
}

.craftia-nav-envelope .userland-mail-count2 {
  color: rgba(255, 255, 255, 1);
  font-size: 0.6em;
  position: relative;
  right: 3px;
  text-align: center;
  z-index: 2;
  clear: both;
}

.logout-icon {
  font-size: 1em;
  right: 5px;
  width: 70px;
  cursor: pointer;
  position: absolute;
  color: #edb915;
  margin-right: 35px;
}

.logout-span {
  color: rgba(255, 255, 255, 1);
  font-size: 0.6em;
  position: relative;
  left :  33px;
  bottom: 0.4em;
  text-align: center;
  z-index: 2;
  clear: both;
}


.main-content {
  padding-left: 11.5%;
  padding-right: 11.5%;
  height: 100%;
}

nav .top-menu {
  position: relative;
  display: block;
  padding-top: 1.0vw;
}

nav .inner-menu {
  position: relative;
  width: 100%;
}

nav .inner-menu li {
  clear: both;
  width: 100%;
  border: 2px solid white;
}

nav .userland-menu {
  position: relative;
  width: 100%;
}

nav .navbar-collapse {
  background: #edb915;
}

.over-carousel {
  min-height: 30px;
  min-width: 100px;
  z-index: 100;
  background-color: #edb915; 
  opacity: 0.01;  
}
.submenu {
 border-top : dashed 1px;
}
.dashboard-section {
  border-top: dashed 1px;
  padding-top: 50px;
  margin-top: 10px;
  padding-bottom: 50px;
}
.dashboard-section img{
  display: block;
  margin: auto;
}
.how-to-video {
  width: 100%;
  height: 100%;
}

.category-cell {
  border : dashed 1px;
  margin-right: 50px;
}
.category-span {
  font-weight: bold;
  word-wrap:  normal;
  float : left;
}

.category-img {
  

}
.category-table {
  margin-left: auto;
}

.category-div {
  display: inline;
}
.yellow-button {
  padding-left :5px;
  padding-right: 5px;
  color: black;
  float:left;
  background-color: #edb915; 
}

.footer-yellow-small {
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
  color: #edb915;
}
.footer-yellow-large {
  background-color: transparent;
  font-weight: bold;
  font-size: 26px;
  color: #edb915;
}
.footer-white-small {
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
  color: white;
}
.footer-white-large {
  background-color: transparent;
  font-weight: bold;
  font-size: 26px;
  color: white;
}

.footer-gray-light {
  background-color: transparent;
  font-weight: bold;
  font-size: 20px;
  color: #8f8f8f;
}

.footer-gray-dark {
  background-color: transparent;
  color: #5e5e5e;
  font-size: 16px;
}
.upper-footer {
  border-bottom: 1px dashed #edb915;
  background-color: #2b2b2b;
}

.lower-footer {
  background-color: #333333;
}

.footer-craftsmen {
  padding-right: 20px;
}

.footer-list {
list-style-type: none !important;
}

.footer-list > li {
  padding: 0px 0px 0px 0px;
  height: 20px;
}

.footer-list :first-child {
  height: 30px
}

.footer-img {
  margin-top: 5%;
  margin-bottom: 5%;
}

.footer-div {
  margin-top: 3%;
  margin-bottom: 3%;
}

.zine-reg-ital {
  font-family: "Zine-reg-ital"
}

.zine-bold-roman {
  font-family: "Zine-bold-roman";
}

.zine-med-roman {
  font-family: "Zine-medium-roman";
}

.top-black-ital {
  color:black;
  
}

.top-white-ital {
  color:white;
}

.minion-pro {
  font-family :"Minion-pro";
}

.craftia-logo {
  max-width: 210px;
  width: 100%;
  max-height: 120px;
  height: 100%;
}

.other-yellow-span{
  color: #eeba16;
}

.yellow-span{
  color: #edb915;
}

.logo-span{
  font-size: 1.4em;
  max-width: 210px;
  width: 100%;
}

.big-span {
  font-size: 2.2em;
  line-height: 27.18181800842285px;
}
.bigger-span {
  font-size: 2.9em;
  line-height: 27.18181800842285px;
}
.medium-span {
  font-size: 1.2vw;
}

.bold-span {
  font-weight: bold;
}

.small-span {
  font-size: 1.0vw;
}

.helvetica-neue {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.black-span {
  color: black;
}

.white-span {
  color: white !important;
}
.arial-regular {
  font-family: "Arial";
}

.how-to-big {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.sketch {
  margin-bottom: 10% !important;
  margin-top: 10% !important;
}

.text-middle {
  margin-top: 5% !important;
}

.letter {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.big-button {
  font-size: 2.3em;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ribbon {
  padding-left: 15px;
  padding-right: 15px;
}

.yellow-div {
  background-color: #edb915;
}

.white-div {
  background-color: white;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.graydiv {
  background-color: #737373  !important;
  color: white;
}

.peach-div{
  background-color: #f5d673 !important;
}

.black-div{
  background-color: #2e2e2e;
}

.huge-span {
  font-size: 3.2em;
  margin-top: 10px !important;
}

.find-jobs-menu {
  background-color : #1a1a1a;
}

.menu-select {
  height: 27px;
  width: 90% !important;
  float: left;
}
.menu-input {
  width: 99% !important;
  float: left;
}

.menu-row {
  padding-top: 20px;
}

.sub-logo {
  letter-spacing:4px;
  white-space:nowrap;
}

.address-div{
  padding-top: 1.0vw;
  padding-bottom: 1.0vw;
  height: 100%;
}

.job-div {
  overflow: hidden;
}

.right-job-div {
 padding-bottom: 100%;
 margin-bottom: -100%;
 border-left: white solid 3px;
}

.msg-div {
  overflow: hidden;
}

.right-msg-div {
 border-left: white solid 3px;
}

.date-div {
  padding-top: 1.0vw;
  border-top: dashed 1px;
  max-height: 100%;
}
.info-div {
  padding-top: 1.0vw;
  min-height: 100%;
  border-top: dashed 1px;
  height:100%; 
  padding-bottom: 100%;
  margin-bottom: -100%;
  border-left: dashed 1px;
}
.job-buttons {
  margin-top: 0.3vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.job-button {
  padding-left: 0.3vw;
}

.cat-div {
  max-height: 34px;
  height: 34px;
  min-height: 100%;
  padding-top: 0.3vw;
}

.job-pic {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

.sender-div {
}

.sender-pic {
  max-width: 100%;
  max-height: 100%;
  width: 100%
}

.sender-pic-div{
  background-color: transparent;
}

.msg-date-div {
  padding-top: 1.0vw;
  border-top: dashed 1px;
  max-height: 100%;
  padding-bottom: 100%;
  margin-bottom: -100%;
}

.msg-content-div {
  padding-top: 1.0vw;
  min-height: 100%;
  border-top: dashed 1px;
  height:100%; 
  padding-bottom: 100%;
  margin-bottom: -100%;
  border-left: dashed 1px;
}

.tiny-span{
  font-size: 0.8vw;
}

