.modal-dialog {
    width: 60%;
}

.lightbox-content {
    width: 100%;
}
 
.lightbox-image {
    width: 100%;
    margin-bottom: 5px;
}
 
.lightbox-image img {
    max-width: 100%;
    max-height: 100%;
}
 
.lightbox-description {
    width: 100%;
}
 
.lightbox-close {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 5px;
}
 
.lightbox-prev {
    top: 50%;
    position: absolute;
}
 
.lightbox-next {
    top: 50%;
    position: absolute;
    left: 93%;
}

.lightbox-footer {
    margin-top: 65px;
}

.lightbox-description[disabled] {
    background: #EEEEEE;
    cursor: pointer;
}